<ion-item class="question-item container">
	<div class="inner">
		<ion-button fill="clear" (click)="scanQrCode()">
			<ion-icon slot="start" src="./assets/images/qrcode-scan.svg"></ion-icon>
			{{ 'PAGESPECIFIC_TEXT.QR_SCANER.SCAN_QR_CODE' | translate }}
		</ion-button>

		<div class="scanned-result" *ngIf="entityItem">
			<div class="title">{{ 'PAGESPECIFIC_TEXT.FORM_LIST.YOU_SCANNED' | translate }}:</div>
			<div class="result">
				<ion-icon color="success" name="checkmark-outline"></ion-icon>
				<p>{{ entityItem.entityName }}</p>
			</div>
		</div>
	</div>
</ion-item>
