ion-content {
  --padding-start: 9.07%;
  --padding-end: 9.07%;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;

    ion-icon {
      width: 100px;
      height: 100px;
    }
  }
}

