<ion-content fullscreen="true">
	<div class="content-container">
		<div class="content">
			<ion-icon src="./assets/icon/Mail.svg"></ion-icon>

			<div class="title-1">{{'PAGESPECIFIC_TEXT.FORGOT_PASSWORD.LINK_SENT' | translate}}</div>
			<div class="text-1">{{'PAGESPECIFIC_TEXT.FORGOT_PASSWORD.PLEASE_CHECK_YOUR_INBOX' | translate}}</div>
		</div>

		<ion-footer mode="ios">
			<div class="text-2 ion-text-center ion-padding">{{'PAGESPECIFIC_TEXT.FORGOT_PASSWORD.REMEMBERED_YOUR_PASSWORD' | translate}}</div>
			<ion-button expand="full" class="action-btn" (click)="onContinue()">{{'PAGESPECIFIC_TEXT.FORGOT_PASSWORD.GO_TO_SIGN_IN' | translate}}</ion-button>
		</ion-footer>
	</div>
</ion-content>
