ion-content {
  --padding-start: 9.07%;
  --padding-end: 9.07%;
  --background: var(--ion-color-app-primary);

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    text-align: center;

    ion-icon {
      width: 100px;
      height: 100px;
    }

    .title-1 {
      margin-top: 48px;
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
    }

    .text-1 {
      margin-top: 16px;
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 22px;
      color: #FFFFFF;
    }

  }
}

.text-2 {
  margin-top: 16px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

ion-footer {
  background-color: transparent !important;
}

