ion-header {
  ::ng-deep app-modal-header {
    ion-toolbar {
      --background: #F8F9FB;
      --border-color: transparent;
      --border-width: 0;
    }
  }
}

ion-content {
  --background: #F8F9FB;

  .hr-line {
    margin: 0 23px 16px;
    width: auto;
    height: 1px;
    background-color: rgba(74, 144, 226, 0.2);
  }

  ion-item {
    --background: transparent;
  }

  .digital-signature {
    background: #E8EAF2;
    border: 1px solid #CACEE1;
    border-radius: 4px;
  }
}

ion-footer {
  background-color: #F8F9FB;
}
