ion-toolbar {
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  --background: #8A25B1;

  ion-title {
    text-align: left;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  ion-buttons ion-button {
    margin-right: 32px;

    ion-icon {
      width: 20px;
      height: 20px;
    }

    .badge {
      position: absolute;
      top: 0;
      right: -0.2rem;
      opacity: 0.9;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #FFBA00;
    }
  }

}


