<ion-toolbar mode="ios">

    <ion-title size="large">Dashboard</ion-title>

    <ion-buttons slot="end">
        <ion-button size="small" fill="clear" (click)="syncClick.emit()">
            <ion-icon class="scan-icon" slot="icon-only" src="./assets/icon/sync.svg"></ion-icon>
            <div class="badge"></div>
        </ion-button>
        <ion-button size="small" fill="clear" (click)="infoClick.emit()">
            <ion-icon class="scan-icon" slot="icon-only" src="./assets/icon/info.svg"></ion-icon>
        </ion-button>
        <ion-button size="small" fill="clear" (click)="logoutClick.emit()">
            <ion-icon class="scan-icon" slot="icon-only" src="./assets/icon/logout-dm.svg"></ion-icon>
        </ion-button>
    </ion-buttons>

</ion-toolbar>

