ion-toolbar {
  &.part-1 {
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    --background: #8A25B1;

    ion-title {
      text-align: left;
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
    }

    .scan-icon {
      width: 20px;
      height: 20px;
      margin-right: 16px;
    }
  }
}

ion-item.checked-in-status-view {
  --min-height: 39px;
  --background: #AA39D6;

  &.remove-padding {
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
  }

  .status-circle {
    width: 10px;
    height: 10px;
    background: #E8EAF2;
    border-radius: 8px;
    margin-right: 9px;

    &.checked-in {
      background: #19DC76;
    }
  }

  ion-label {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
  }

  .checkin-view-btn {
    margin-right: 0;
    padding: 8px;
    height: auto;

    ion-icon {
      width: 22px;
      height: 22px;
      color: #ffffff;
    }
  }


  .arrow-button {
    --color: #FFFFFF;
    width: 58px;
    height: 44px;
    margin: 0;

    ion-icon {
      width: 16px;
      height: 16px;
    }
  }
}

.checkin-btns {
  height: 37px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #8A25B1;
  border-top: 0.5px solid #E8EAF2;;

  ion-button {
    margin: 0;
    height: 100%;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    --color: #FFFFFF;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &.left {
      border-right: 0.5px solid #E8EAF2;
    }
  }
}

.check-in-places-list-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.35);
  height: 100vh;
  z-index: 10;
  width: 100%;

  .check-in-places-list {
    ion-item {
      --padding-start: 20px;

      &.selected {
        --background: #F6F8FA;
      }
    }

    ion-label {
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #171538;
    }

    .checkin-view-btn {
      margin-right: 0;
      padding: 8px;
      height: auto;

      ion-icon {
        width: 22px;
        height: 22px;
        color: #575568;
      }
    }
  }
}

