<ion-header>
    <app-dashboard-header-dm [title]="sharedDataService.getCurrentCheckedInEntityName()"></app-dashboard-header-dm>
</ion-header>

<ion-content mode="md" >
    <div class="content">
       <div class="dashboard-btns-container">
           <app-dashboard-button
                   icon="./assets/icon/checkinout.svg"
                   title="Check In/Out"
                   (click)="checkInOutClick()"></app-dashboard-button>

           <app-dashboard-button
                   icon="./assets/icon/document.svg"
                   title="Documents"
                   (click)="documentsClick()"></app-dashboard-button>

           <app-dashboard-button
                   icon="./assets/icon/form.svg"
                   title="Forms"
                   (click)="formsClick()"></app-dashboard-button>

           <app-dashboard-button
                   icon="./assets/icon/permits.svg"
                   title="Permits"
                   (click)="permitsClick()"></app-dashboard-button>

           <app-dashboard-button
                   icon="./assets/icon/evacuation.svg"
                   title="Evacuation"
                   (click)="evacuationClick()"></app-dashboard-button>
       </div>
    </div>
</ion-content>




