ion-content {
  --background: #F6F9FB;

  ::ng-deep app-dashboard-button {
    margin: 6px;
  }

  .content {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;

    .dashboard-btns-container {
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}
