<ion-header>
  <app-modal-header
    *ngIf="!sharedDataService.dedicatedMode"
    [modalTitle]="'PAGESPECIFIC_TEXT.CHECK_IN_AND_OUT.INDUCTION' | translate"
    (closeModal)="onClose()"
  ></app-modal-header>

  <app-modal-header-dm
    *ngIf="sharedDataService.dedicatedMode"
    [modalTitle]="sharedDataService.getCurrentCheckedInEntityName()"
    [modalSubTitle]="'PAGESPECIFIC_TEXT.CHECK_IN_AND_OUT.CHECK_IN' | translate"
    (closeModal)="onClose()"
  ></app-modal-header-dm>
</ion-header>

<ion-content [ngClass]="{'dedicated-mode':sharedDataService.dedicatedMode}">
  <div class="content-container">
    <app-back-continue-toolbar
      *ngIf="sharedDataService.dedicatedMode"
      (back)="onBack()"
      (continue)="onContinue()"
    ></app-back-continue-toolbar>

    <div class="content">
      <h6 class="text-title-1" *ngIf="!sharedDataService.dedicatedMode">
        {{'PAGESPECIFIC_TEXT.CHECK_IN_AND_OUT.VIDEO' | translate}}
      </h6>

      <div class="video-view" *ngIf="inductionItem && videoUrl">
        <video
          controls="controls"
          preload="metadata"
          webkit-playsinline="webkit-playsinline"
          class="videoPlayer"
        >
          <source [src]="videoUrl | safeurl" [type]="videoFileType" />
        </video>
      </div>
    </div>

    <ion-footer mode="ios" *ngIf="!sharedDataService.dedicatedMode">
      <ion-button expand="full" class="action-btn" (click)="onContinue()"
        >{{'SHARED_TEXT.CONTINUE' | translate}}</ion-button
      >
    </ion-footer>
  </div>
</ion-content>
