ion-content {
  --background: #fff;
  --overflow: auto;

  .content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }

  &.dedicated-mode {
    --background: #F6F9FB;

    .video-view {
      flex: 1;
      min-height: 220px;
      max-height: 500px;
    }
  }

  .text-title-1 {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #444444;
  }

  .video-view {
    width: 90%;
    margin: 5%;
    min-height: 200px;
    flex: 1;
    background-color: #F8F9FB;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
