<ion-header>
    <app-modal-header *ngIf="!sharedDataService.dedicatedMode" modalTitle="Induction"
                      (closeModal)="onClose()"></app-modal-header>
    <app-modal-header-dm *ngIf="sharedDataService.dedicatedMode"
                         [modalTitle]="sharedDataService.dedicatedModeLocationUse.title"
                         modalSubTitle="Check In/Out" (closeModal)="onClose()"></app-modal-header-dm>
</ion-header>

<ion-content [ngClass]="{'dedicated-mode':sharedDataService.dedicatedMode}">
    <div class="content">
        <div *ngIf="sharedDataService.dedicatedMode" class="page-title">Induction</div>

        <div class="ion-text-center ion-padding" *ngIf="checkinDetail; else defaultInductionInfo"
             [innerHTML]="sanitizer.bypassSecurityTrustHtml(checkinDetail?.checkInInduction?.introduction)"></div>

        <ng-template #defaultInductionInfo>
            <div class="text-1">
                You will now will be taken through the induction process.
            </div>

            <h6 class="text-title-1">
                The induction consists of
            </h6>

            <div class="text-2" *ngFor="let item of inductionFiles">
                {{item.content.length + ' x ' + fileType(item.type) + (item.content.length > 1 ? 's' : '')}}
            </div>

            <div class="text-3">
                Please continue to view each one by one.
                <br/>
                You are going to sign-off at the end of the induction.
            </div>
        </ng-template>

        <ion-button *ngIf="sharedDataService.dedicatedMode" expand="full" class="action-btn" (click)="onContinue()">
            Continue
        </ion-button>

    </div>
</ion-content>

<ion-footer mode="ios" *ngIf="!sharedDataService.dedicatedMode">
    <ion-button expand="full" class="action-btn" (click)="onContinue()">Continue</ion-button>
</ion-footer>


