<ion-header>
	<app-modal-header *ngIf="!sharedDataService.dedicatedMode" [modalTitle]="'PAGESPECIFIC_TEXT.CHECK-IN_AND_OUT.INDUCTION' | translate" (closeModal)="onClose()"></app-modal-header>

	<app-modal-header-dm
		*ngIf="sharedDataService.dedicatedMode"
		[modalTitle]="sharedDataService.dedicatedModeLocationUse.locationName"
		modalSubTitle="'PAGESPECIFIC_TEXT.CHECK-IN_AND_OUT.CHECK_IN_OUT' | translate"
		(closeModal)="onClose()"
	></app-modal-header-dm>
</ion-header>

<ion-content [ngClass]="{'dedicated-mode':sharedDataService.dedicatedMode}">
	<div class="content-container">
		<div class="content">
			<div *ngIf="sharedDataService.dedicatedMode" class="page-title">{{'PAGESPECIFIC_TEXT.CHECK-IN_AND_OUT.INDUCTION' | translate}}</div>

			<div class="ion-text-center ion-padding" *ngIf="checkinDetail" [innerHTML]="sanitizer.bypassSecurityTrustHtml(checkinDetail?.checkInInduction?.introduction)"></div>

			<ion-button *ngIf="sharedDataService.dedicatedMode" expand="full" class="action-btn" (click)="onContinue()"> {{'SHARED_TEXT.CONTINUE' | translate}} </ion-button>
		</div>

		<ion-footer mode="ios" *ngIf="!sharedDataService.dedicatedMode">
			<ion-button expand="full" class="action-btn" (click)="onContinue()">{{'SHARED_TEXT.CONTINUE' | translate}}</ion-button>
		</ion-footer>
	</div>
</ion-content>
