<ion-header>
    <ion-toolbar  *ngIf="!sharedDataService.dedicatedMode" mode="ios" class="model-header-toolbar">
        <ion-title size="large">{{'Induction'}}</ion-title>
        <ion-buttons slot="end">
            <app-model-close-button (closeModal)="onClose()"></app-model-close-button>
        </ion-buttons>
    </ion-toolbar>

    <app-modal-header-dm *ngIf="sharedDataService.dedicatedMode"
                         [modalTitle]="sharedDataService.dedicatedModeLocationUse.locationName"
                         modalSubTitle="Check In/Out" (closeModal)="onClose()"></app-modal-header-dm>
</ion-header>

<ion-content [ngClass]="{'dedicated-mode':sharedDataService.dedicatedMode}">
    <div class="content">
        <div *ngIf="sharedDataService.dedicatedMode" class="page-title">Induction</div>

        <div class="ion-text-center ion-padding" *ngIf="checkinDetail"
             [innerHTML]="sanitizer.bypassSecurityTrustHtml(checkinDetail?.checkInInduction?.introduction)"></div>

        <ion-button *ngIf="sharedDataService.dedicatedMode" expand="full" class="action-btn" (click)="onContinue()">
            Continue
        </ion-button>

    </div>
</ion-content>

<ion-footer mode="ios" *ngIf="!sharedDataService.dedicatedMode">
    <ion-button expand="full" class="action-btn" (click)="onContinue()">Continue</ion-button>
</ion-footer>


