ion-header {

}

ion-content {
  --background: #fff;

  &.dedicated-mode {
    --background: #F6F9FB;

    .action-btn {
      width: 207px;
    }
  }

  .content {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;

    .page-title {
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 31px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #171538;
      margin-bottom: 27px;
    }

    .text-title-1 {
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      color: #171538;
    }

    .text-1 {
      width: 63.3%;
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 28px;
      text-align: center;
      color: #171538;
    }

    .text-2 {
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 28px;
      text-align: center;
      color: #171538;
    }

    .text-3 {
      margin-top: 32px;
      width: 68%;
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 28px;
      text-align: center;
      color: #171538;
    }
  }
}

ion-footer {
  background-color: #ffffff;
}

