<div
  class="photo-view-container"
  [ngClass]="{ 'web-app': isWebApp }"
  [ngStyle]="{
    width: isWebApp
      ? 100 * (window.devicePixelRatio > 1 ? 1 : window.devicePixelRatio) + '%'
      : 'inherit'
  }"
>
  <ion-label position="stacked" *ngIf="label">{{ label }}</ion-label>

  <div class="photo-buttons" *ngIf="!image; else addPhotoTemplate">
    <ion-button
      fill="clear"
      class="left"
      (click)="isWebApp ? addPhotoFromCamera() : choosePhotoVideoOption()"
    >
      <ion-icon slot="start" src="./assets/icon/image.svg"></ion-icon>

      <ng-container *ngIf="isWebApp; else takePhotOrVideo">
        {{ "SHARED_TEXT.MEDIA.TAKE_PHOTO" | translate }}
      </ng-container>
      <ng-template #takePhotOrVideo>{{
        "SHARED_TEXT.MEDIA.TAKE_PHOTO_VIDEO" | translate
      }}</ng-template>
    </ion-button>

    <span>Or</span>

    <ion-button fill="clear" class="right" (click)="addPhotoFromLibrary()">
      <ion-icon slot="start" src="./assets/icon/folder.svg"></ion-icon>
      {{ "SHARED_TEXT.MEDIA.CHOOSE_PHOTO_VIDEO" | translate }}
    </ion-button>
  </div>

  <ng-template #addPhotoTemplate>
    <div class="image-view">
      <div class="close-btn">
        <ion-button
          *ngIf="!isVideo"
          class="edit-btn"
          fill="clear"
          (click)="editPhoto()"
        >
          <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="photoRemoved()">
          <ion-icon name="close" slot="icon-only"></ion-icon>
        </ion-button>
      </div>

      <ng-container *ngIf="isVideo">
        <video
          controls="controls"
          preload="metadata"
          webkit-playsinline="webkit-playsinline"
          class="videoPlayer"
        >
          <source
            *ngIf="!UtilService.IsBase64Sring(videoUrl); else base64Video"
            [src]="sanitize(videoUrl)"
            [type]="
              StaticDataService.fileMimeTypes[
                image.split('.')?.pop()?.toLowerCase()
              ]
            "
          />

          <ng-template #base64Video>
            <source [src]="videoUrl" />
          </ng-template>
        </video>
      </ng-container>
      <ng-container *ngIf="!isVideo">
        <ion-img *ngIf="photoThumbnail" [src]="photoThumbnail"></ion-img>
        <!-- [src]="Capacitor.convertFileSrc(image)" -->
      </ng-container>
    </div>
  </ng-template>
</div>
