@import "./src/theme/variables";

.photo-view-container {
  margin: 0 $paddingHorizontal;

  .photo-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 12px 0;

    ion-button {
      --border-radius: 3px;
      border-radius: 3px;
      overflow: hidden;
      --color: #fff;
      flex: 1;
      height: 40px;
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 9px;
      line-height: 15px;

      color: #FFFFFF;

      ion-icon {
        width: 12px;
        height: 12px;
        margin-right: 2px;
      }

      &.left {
        --background: #2A6FDB;
      }

      &.right {
        --background: #575568;
      }
    }

    span {
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #171538;
      margin: 0 3px;
    }
  }

  .image-view {
    width: 100%;
    margin: 12px 0;
    border-radius: 4px;
    overflow: hidden;
    min-height: 300px;

    ion-img {
      width: 100%;
      height: calc(100% - 40px);
      min-height: 260px;
      background-color: #E6EFFB;
      object-fit: cover;
    }

    .videoPlayer {
      width: 100%;
      height: calc(100% - 40px);
      min-height: 260px;
      background-color: #E6EFFB;
    }

    .close-btn {
      width: 100%;
      background-color: #D6E5F9;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      ion-button {
        --padding-start: 4px;
        --padding-end: 4px;
        color: #777595;

        &.edit-btn {
          height: 27px;
          width: 27px;
        }
      }
    }
  }
}
