ion-toolbar {
  --background: #F6F8FA;
  --border-color: transparent;
  --border-width: 0;
  padding-top: 0 !important;

  .toolbar-container {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: var(--min-height);
    contain: content;
    overflow-x: auto !important;
    z-index: 10;
    box-sizing: border-box;
  }

  ion-buttons {
    padding: 8px 12px;

    ion-button {
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      align-items: center;
      --color: #575568;
      padding: 0 16px;

      ion-icon {
        color: #575568;
      }

      ion-img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }

      &.active {
        --color: #2A6FDB;

        ion-icon {
          color: #2A6FDB;
        }
      }
    }

    .action-btn {
      --padding-start: 8px;
      --padding-end: 8px;
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      --color: #FFFFFF;
    }
  }
}
