<ng-container *ngFor="let question of questions; let questionIndex=index">
    <ng-container *ngIf="utilService.shouldShowQuestion(question)">
        <div class="list-item-container"
             [formGroup]="formGroup"
             [id]="UtilService.HtmlElementIdUq(sectionIndex, questionIndex, sectionId, question.questionId)"
             [ngClass]="{'error':shouldShowError(question) && isError(question, questionIndex)}">

            <app-question-list-header
                    [questionTitle]="UtilService.findObj(question.questionTranslations, 'questionTranslationLanguageId', sharedDataService.getLanguageIdForForm()).questionTranslationTitle"
                    [note]="question.allowInstructionOrNote?UtilService.findObj(question.questionTranslations, 'questionTranslationLanguageId', sharedDataService.getLanguageIdForForm()).questionTranslationInstructionOrNote:''"
                    [required]="question.questionIsRequired"
                    [attachments]="question.questionAttachments"
                    [qNo]="(questionElementIds?questionElementIds.indexOf(UtilService.HtmlElementIdUq(sectionIndex,questionIndex, sectionId, question.questionId)):questionIndex)+1"
            ></app-question-list-header>

            <div class="hr-line"></div>

            <app-single-choice-field
                    *ngIf="question.selectedAnswerTypeId === EnumService.CustomAnswerType.SingleChoiceSet"
                    [form]="formGroup"
                    [inputName]="UtilService.CustomFCName(sectionId, question.questionId, isSectionDuplicate, question[EnumService.QuestionLogic.ActionTypeForForm.Duplicate])"
                    [list]="question.answerChoiceAttributes"
            ></app-single-choice-field>

            <app-multiple-choice-field
                    *ngIf="question.selectedAnswerTypeId === EnumService.CustomAnswerType.MultipleChoiceSet"
                    [form]="formGroup"
                    [inputName]="UtilService.CustomFCName(sectionId, question.questionId,isSectionDuplicate, question[EnumService.QuestionLogic.ActionTypeForForm.Duplicate])"
                    [list]="question.answerChoiceAttributes"
            ></app-multiple-choice-field>


            <app-singleline-text-field
                    *ngIf="question.selectedAnswerTypeId === EnumService.CustomAnswerType.SingleLineText"
                    [form]="formGroup"
                    [isError]="isError(question, questionIndex)"
                    [inputName]="UtilService.CustomFCName(sectionId, question.questionId,isSectionDuplicate, question[EnumService.QuestionLogic.ActionTypeForForm.Duplicate])"
            ></app-singleline-text-field>

            <app-multiline-text-field
                    [isError]="isError(question, questionIndex)"
                    *ngIf="question.selectedAnswerTypeId === EnumService.CustomAnswerType.MultiLineText"
                    [form]="formGroup"
                    [inputName]="UtilService.CustomFCName(sectionId, question.questionId,isSectionDuplicate, question[EnumService.QuestionLogic.ActionTypeForForm.Duplicate])"
            ></app-multiline-text-field>

            <app-number-integer-field
                    *ngIf="question.selectedAnswerTypeId === EnumService.CustomAnswerType.NumberFieldInteger"
                    [form]="formGroup"
                    [inputName]="UtilService.CustomFCName(sectionId, question.questionId,isSectionDuplicate, question[EnumService.QuestionLogic.ActionTypeForForm.Duplicate])"
                    [isError]="isError(question, questionIndex)"
                    [label]="question.allowTextLabel?UtilService.findObj(question.questionTranslations, 'questionTranslationLanguageId', sharedDataService.getLanguageIdForForm()).questionTranslationTextLabel:''"
            ></app-number-integer-field>

            <app-number-decimal-field
                    *ngIf="question.selectedAnswerTypeId === EnumService.CustomAnswerType.NumberFieldDecimal"
                    [form]="formGroup"
                    [inputName]="UtilService.CustomFCName(sectionId, question.questionId,isSectionDuplicate, question[EnumService.QuestionLogic.ActionTypeForForm.Duplicate])"
                    [isError]="isError(question, questionIndex)"
                    [label]="question.allowTextLabel?UtilService.findObj(question.questionTranslations, 'questionTranslationLanguageId', sharedDataService.getLanguageIdForForm()).questionTranslationTextLabel:''"
            ></app-number-decimal-field>


            <app-date-field
                    *ngIf="question.selectedAnswerTypeId === EnumService.CustomAnswerType.DateField"
                    [form]="formGroup"
                    [inputName]="UtilService.CustomFCName(sectionId, question.questionId,isSectionDuplicate, question[EnumService.QuestionLogic.ActionTypeForForm.Duplicate])"
                    [isError]="isError(question, questionIndex)"
                    placeholder="Choose"
                    [label]="question.allowTextLabel?UtilService.findObj(question.questionTranslations, 'questionTranslationLanguageId', sharedDataService.getLanguageIdForForm()).questionTranslationTextLabel:''"
            ></app-date-field>

            <app-time-field
                    *ngIf="question.selectedAnswerTypeId === EnumService.CustomAnswerType.TimeField"
                    [form]="formGroup"
                    [inputName]="UtilService.CustomFCName(sectionId, question.questionId,isSectionDuplicate, question[EnumService.QuestionLogic.ActionTypeForForm.Duplicate])"
                    [isError]="isError(question, questionIndex)"
                    [label]="question.allowTextLabel?UtilService.findObj(question.questionTranslations, 'questionTranslationLanguageId', sharedDataService.getLanguageIdForForm()).questionTranslationTextLabel:''"
            ></app-time-field>

            <app-date-time-field
                    *ngIf="question.selectedAnswerTypeId === EnumService.CustomAnswerType.DateTimeField"
                    [form]="formGroup"
                    [inputName]="UtilService.CustomFCName(sectionId, question.questionId, isSectionDuplicate, question[EnumService.QuestionLogic.ActionTypeForForm.Duplicate])"
                    [isError]="isError(question, questionIndex)"
                    placeholder="Choose"
                    [label]="question.allowTextLabel?UtilService.findObj(question.questionTranslations, 'questionTranslationLanguageId', sharedDataService.getLanguageIdForForm()).questionTranslationTextLabel:''"
            ></app-date-time-field>

            <app-photo-field
                    *ngIf="question.selectedAnswerTypeId === EnumService.CustomAnswerType.PhotoVideoUpload"
                    [formControlName]="UtilService.CustomFCName(sectionId, question.questionId, isSectionDuplicate, question[EnumService.QuestionLogic.ActionTypeForForm.Duplicate])"
                    [label]="question.allowTextLabel?UtilService.findObj(question.questionTranslations, 'questionTranslationLanguageId', sharedDataService.getLanguageIdForForm()).questionTranslationTextLabel:''"
            ></app-photo-field>

            <ng-container *ngIf="question.shouldShowOptionalComment">
                <div class="hr-line"></div>
                <app-multiline-text-field
                        label="Additional Comment"
                        [form]="formGroup"
                        [inputName]="UtilService.FCNameAdditioanlNoteUq(sectionIndex, questionIndex, question.questionId)"
                ></app-multiline-text-field>
            </ng-container>

        </div>
    </ng-container>
</ng-container>
