ion-content {
    --background: #f6f9fb;
    .content-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        .top-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            padding: 60px 32px;
            width: 100%;
            .text-1 {
                font-family: IBM Plex Sans;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 31px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #171538;
            }

            .text-2 {
                margin-top: 24px;
                font-family: Inter;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                display: flex;
                text-align: center;
                color: #4a90e2;
            }

            .text-3 {
                min-width: 320px;
                width: 80%;
                margin-top: 22px;
                font-family: Inter;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 140%;
                text-align: center;
                color: #777;
            }

            .text-4 {
                min-width: 320px;
                width: 80%;
                margin-top: 20px;
                font-family: Inter;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 140%;
                text-align: center;
                color: #171538;
            }

            .text-5 {
                min-width: 320px;
                width: 80%;
                margin-top: 16px;
                font-family: Inter;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 140%;
                text-align: center;
                color: #aaaaaa;
            }
            .form-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                min-height: 28px;
                margin-top: 4px;
                ion-img {
                    width: 21px;
                    height: 24px;
                    margin-right: 14px;
                }

                ion-label {
                    font-family: "IBM Plex Sans";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 28px;
                    text-align: center;
                    color: #171538;
                }
            }
        }

        .bottom-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #f6f9fb;
            padding: 16px;
            .no-saved-states {
                font-family: "IBM Plex Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 28px;
                text-align: center;
                color: #a1a8ca;
                margin-bottom: 24px;
            }

            .show-save-state-btn {
                border: 1px solid #2a6fdb;
                box-sizing: border-box;
                border-radius: 3px;
                font-family: "IBM Plex Sans";
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                color: #2a6fdb;
                margin-bottom: 16px;
                width: 289px;
                height: 50px;
            }

            .action-btn {
                width: 289px;
                height: 50px;
                margin-top: 0px;
            }
        }
    }
}

.hr-line {
    margin: 16px 0;
    width: 100%;
    height: 1px;
    background-color: rgba(74, 144, 226, 0.2);
}
