$paddingHorizontal: 23px;

ion-content {
	&.dedicated-mode {
		--background: #f6f9fb;

		ion-list {
			width: 70%;
			border-radius: 12px;
			margin: 20px auto 0;
		}

		.text-bottom-msg {
			box-shadow: 0px 0 20px rgba(0, 0, 0, 0.3);

			margin-top: 40px;
			color: #171538;
			padding: 0 16px;
			background-color: #ffffff;

			ion-label {
				padding: 16px 0;
			}

			.action-btn {
				width: 200px;
				margin: 0;
				margin-left: 16px;
			}
		}
	}

	ion-list {
		.hr-line {
			margin: 0 $paddingHorizontal 16px;
			width: auto;
			height: 1px;
			background-color: rgba(74, 144, 226, 0.2);
		}

		.hr-line-full {
			width: 100%;
			height: 1px;
			background-color: rgba(74, 144, 226, 0.2);
		}

		.text-bottom-msg {
			font-family: IBM Plex Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			text-align: center;
			color: #171538;
			padding: 16px 32px;
		}

		.action-btn {
			width: 100%;
			margin: 0;
			--border-radius: 3px;
			border-radius: 3px;
			overflow: hidden;
		}
	}

	.expiration-date-view {
		background: rgba(74, 144, 226, 0.05);
		mix-blend-mode: normal;
		border-radius: 0px;
		padding: 19px 22px;
		margin: 23px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		h2 {
			font-family: IBM Plex Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			display: flex;
			align-items: center;
			color: #171538;
			margin: 0;
		}
		.custom-segment-view {
			margin-top: 12px;
			display: inline-flex;
			flex-direction: row;
			background: #f6f8fa;
			border: 1px solid #dce7ef;
			box-sizing: border-box;
			border-radius: 3px;
			ion-button {
				min-width: 80px;
				font-family: IBM Plex Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 18px;
				text-align: center;
				color: #777595;
				margin: 0;
				&.active {
					border: 1px solid #2a6fdb;
					box-sizing: border-box;
					border-radius: 2px 0px 0px 2px;
					color: #2a6fdb;
					background: #fff;
				}
			}
		}

		::ng-deep {
			.question-item.date-item {
				margin: 0;
				margin-top: 12px;

				.date-field {
					background: #fff;
					border: 1px solid #cacee1;
					box-sizing: border-box;
					border-radius: 3px;
					min-height: 51px;
				}
			}
		}
		.expireduration-field {
			display: inline-flex;
			flex-direction: row;
			background: #ffffff;
			border: 1px solid #cacee1;
			box-sizing: border-box;
			border-radius: 3px;
			height: 49px;
			margin-top: 12px;
			ion-input {
				width: 46px;
				text-align: center;
				--padding-end: 0;
				--padding-start: 0;
				border-right: 1px solid #cacee1;
				font-family: IBM Plex Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 18px;
				color: #777595;
			}
			::ng-deep {
				ion-item {
					margin: 0;
				}
				ion-select {
					font-family: IBM Plex Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 18px;
					color: #777595;
					border: none;
					height: 49px;
					--padding-end: 22px;
				}
			}
		}
	}
}
