.container {
	width: 100%;
	.view-container {
		display: flex;
		flex-direction: row;
		margin: 8px 23px 40px;
		background: #f7fafe;
		flex-wrap: wrap;

		.left-view {
			width: 27vw;
			min-height: 100%;
			background: #f7fafe;
			box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.03);
			display: flex;
			flex-direction: column;
			.col-view {
				&:first-child {
					border-bottom: 1px solid #dce7ef;
					height: 51px;
				}
			}
		}
		.right-view {
			flex: 1;
			min-height: 100%;
			overflow-x: scroll;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			.col-row {
				display: flex;
				flex-direction: row;
				border-bottom: 1px solid #dce7ef;
				&:last-child {
					border-bottom: none;
				}
				.col-view {
					text-align: center;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}

		.col-view {
			width: 27vw;
			min-width: 27vw;
			min-height: 50px;
			padding: 16px;
			font-weight: 500;
			font-size: 10px;
			line-height: 13px;
			color: #a1a8ca;

			ion-checkbox {
				width: 20px;
				height: 20px;
				--border-color: #575568;
				--border-color-checked: #575568;
				--checkmark-color: #575568;
				--border-width: 2px;
				--checkmark-width: 3px;
				--border-style: solid;
				--border-radius: 50%;
				--background-checked: transparent;
				--background: transparent;
			}
		}
	}
}
