<ion-header>
  <app-dashboard-header-dm
    [title]="sharedDataService.getCurrentCheckedInEntityName()"
  ></app-dashboard-header-dm>
  <app-topnavigations-btns-dm activeBtn="document"></app-topnavigations-btns-dm>
  <app-topnavigations-segments-dm
    [active]="listType"
    [options]="listTypes"
    [search]="searchQuery"
    (searching)="onSearch($event)"
    (searchbarShowHide)="searchbarShowHide($event)"
    (changed)="segmentChanged($event)"
  ></app-topnavigations-segments-dm>

  <ion-toolbar
    *ngIf="listType === EnumService.DedicatedModeDocumentListType.Available && itemDetail && itemDetail.folderID>0"
    style="padding-top: 0"
  >
    <ion-back-button
      icon="./assets/icon/back.svg"
      slot="start"
      text=""
      color="dark"
      mode="md"
    ></ion-back-button>
    <ion-title class="ion-text-left">{{pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="md">
  <ion-list
    *ngIf="(listType === EnumService.DedicatedModeDocumentListType.Available && availableDocuments?.length>0) || (listType === EnumService.DedicatedModeDocumentListType.Archive && archivedDocuments?.length>0); else noDocument"
    class="activity-list"
    lines="full"
    [ngClass]="{'webapp':isWebApp, 'available-list':listType === EnumService.DedicatedModeDocumentListType.Available, 'archived-list':listType === EnumService.DedicatedModeDocumentListType.Archive}"
  >
    <ng-container
      *ngIf="listType === EnumService.DedicatedModeDocumentListType.Available"
    >
      <ng-container
        *ngFor="let item of availableDocuments | listFilter:searchQuery:'documentTitle'; last as isLast"
      >
        <ion-item
          class="folder-item"
          *ngIf="item.folderID>0"
          (click)="openDocumentFolder(item)"
        >
          <ion-icon
            slot="start"
            [src]="UtilService.FileIcon('folder')"
          ></ion-icon>
          <ion-label class="ion-text-wrap">{{item.documentTitle}}</ion-label>
        </ion-item>
      </ng-container>

      <ng-container
        *ngFor="let item of availableDocuments | listFilter:searchQuery:'documentTitle'; last as isLast"
      >
        <app-archived-item
          *ngIf="item.documentID>0"
          (itemSelect)="openAvailableDocument(item)"
          [icon]="sharedDataService.offlineMode?utilService.getOfflineFileUrl(item.documentFileIconURL, 'icon'):item.documentFileIconURL"
          [colFirst]="item.documentTitle"
          colThird="Signed"
          [colThirdHighlighted]="item.formattedCreatedDate"
        ></app-archived-item>
      </ng-container>
    </ng-container>

    <ng-container
      *ngIf="listType === EnumService.DedicatedModeDocumentListType.Archive"
    >
      <app-archived-item
        *ngFor="let item of archivedDocuments | listFilter:searchQuery:'documentTitle';"
        (itemSelect)="openArchivedDocument(item)"
        [icon]="sharedDataService.offlineMode?utilService.getOfflineFileUrl(item.documentFileIconURL, 'icon'):item.documentFileIconURL"
        [colFirst]="item.documentTitle"
        colSecond="Signed by"
        [disabled]="sharedDataService.offlineMode?!item.documentFileName:false"
        [colSecondHighlighted]="isWebApp?item.signedByName||'-':item.signedByName"
        colThird="Signed"
        [colThirdHighlighted]="item.formattedCreatedDate"
      ></app-archived-item>
    </ng-container>
  </ion-list>

  <ng-template #noDocument>
    <app-empty-message
      *ngIf="!isLoadingDocument"
      message="No documents available"
    ></app-empty-message>
  </ng-template>

  <ng-container
    *ngIf="listType === EnumService.DedicatedModeDocumentListType.Available && availableDocuments?.length>0"
  >
    <app-empty-message
      *ngIf="!isLoadingDocument && (availableDocuments | listFilter:searchQuery:'documentTitle').length == 0"
      message="No Results Found"
    ></app-empty-message>
  </ng-container>

  <ng-container
    *ngIf="listType === EnumService.DedicatedModeDocumentListType.Archive && archivedDocuments?.length>0"
  >
    <app-empty-message
      *ngIf="!isLoadingDocument && (archivedDocuments | listFilter:searchQuery:'documentTitle').length == 0"
      message="No Results Found"
    ></app-empty-message>
  </ng-container>
</ion-content>
