ion-content {
  ion-list {
    &.webapp {
      &.available-list {
        ::ng-deep app-archived-item {
          .col-one {
            width: 50vw !important;
            max-width: unset !important;
            min-width: unset !important;
            white-space: normal !important;
          }
          .col-two {
            width: 50vw !important;
            max-width: unset !important;
            min-width: unset !important;
            white-space: normal !important;
          }
        }
      }
      &.archived-list {
        ::ng-deep app-archived-item {
          .col-one {
            width: 35vw !important;
            max-width: unset !important;
            min-width: unset !important;
            white-space: normal !important;
          }
          .col-two {
            width: 20vw !important;
            max-width: unset !important;
            min-width: unset !important;
            white-space: normal !important;
          }
          .col-three {
            width: 35vw !important;
            max-width: unset !important;
            min-width: unset !important;
            white-space: normal !important;
          }
        }
      }
    }
  }
}
