<ion-header>
    <app-dashboard-header-dm [title]="sharedDataService.getCurrentCheckedInEntityName()"></app-dashboard-header-dm>
    <app-topnavigations-btns-dm activeBtn="document"></app-topnavigations-btns-dm>
    <app-topnavigations-segments-dm [active]="listType" [options]="listTypes"
                                    [search]="searchQuery"
                                    (searching)="onSearch($event)"
                                    (searchbarShowHide)="searchbarShowHide($event)"
                                    (changed)="segmentChanged($event)"></app-topnavigations-segments-dm>
</ion-header>

<ion-content mode="md">
    <ion-list *ngIf="availableDocuments?.length>0 || archivedDocuments?.length>0; else noDocument" class="activity-list"
              lines="full">

        <ng-container *ngIf="listType === EnumService.DedicatedModeDocumentListType.Available">
            <ion-item tappable
                      *ngFor="let item of availableDocuments | listFilter:searchQuery:'documentTitle'; last as isLast"
                      (click)="openAvailableDocument(item)">
                <ion-img slot="start" [src]="item.documentFileIconURL"></ion-img>
                <ion-label>{{item.documentTitle}}</ion-label>
                <ion-label color="medium"></ion-label>
            </ion-item>
        </ng-container>

        <ng-container *ngIf="listType === EnumService.DedicatedModeDocumentListType.Archive">
            <div tappable *ngFor="let item of archivedDocuments | listFilter:searchQuery:'documentTitle';"
                 (click)="openArchivedDocument(item)">
                <ion-item tappable>
                    <ion-icon slot="start" [src]="UtilService.FileIcon('document')"></ion-icon>
                    <!--                    <ion-img slot="start" [src]="item.documentFileIconURL"></ion-img>-->
                    <ion-label class="text-1">{{item.documentTitle}}</ion-label>
                    <ion-label class="text-2">
                        Signed by &nbsp;<span class="text-3">{{item.signedByName}}</span>
                    </ion-label>

                    <ion-label class="text-2">
                        Signed &nbsp;<span class="text-3">{{item.formattedCreatedDate}}</span>
                    </ion-label>
                </ion-item>
            </div>
        </ng-container>

    </ion-list>

    <ng-template #noDocument>
        <app-empty-message messa ge="No documents available"></app-empty-message>
    </ng-template>

    <ng-container *ngIf="listType === EnumService.DedicatedModeDocumentListType.Available">

        <app-empty-message *ngIf="(availableDocuments | listFilter:searchQuery:'documentTitle').length == 0"
                           message="No Results Found"></app-empty-message>
    </ng-container>

    <ng-container *ngIf="listType === EnumService.DedicatedModeDocumentListType.Archive">
        <app-empty-message *ngIf="(archivedDocuments | listFilter:searchQuery:'documentTitle').length == 0"
                           message="No Results Found"></app-empty-message>
    </ng-container>
</ion-content>

