ion-header {
  ion-toolbar {
    min-height: 44px;
    --background: #F8F9FB;
    --border-color: rgba(74, 144, 226, 0.2);
    --border-width: 0 0 1px;
    --border-style: solid;
    --padding-bottom: 0;
    --padding-top: 0;

    ion-title {
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #181639;

      &.light {
        color: #777595;
      }
    }

    .arrow-button {
      --color: #2A6FDB;
      width: 58px;
      height: 44px;

      ion-icon {
        width: 16px;
        height: 16px;
      }

      &.left {
        border-right: 1px solid rgba(74, 144, 226, 0.2);
      }

      &.right {
        border-left: 1px solid rgba(74, 144, 226, 0.2);
      }
    }
  }

  &.dedicated-mode {
    ::ng-deep app-back-continue-toolbar {
      ion-toolbar {
        padding-top: 22px;
        --background: #F6F9FB;
      }
    }
  }
}

ion-content {

  &.dedicated-mode {
    --background: #F6F9FB;

    ion-list {
      width: 60%;
      margin: auto;
    }
  }


  ion-list {
    background-color: transparent;

    .list-item-container {
      padding: 1px 0;
    }

    ion-list-header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 24px;
      padding-left: 23px;
      padding-right: 46px;
      --border-width: 1px 0 0;
      --border-style: solid;
      --border-color: rgba(74, 144, 226, 0.2);

      h6 {
        margin: 0;
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #171538;
      }

      p {
        margin-top: 8px;
        margin-bottom: 15px;
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 13px;
        color: #171538;
      }
    }

    .hr-line {
      margin: 0 23px 16px;
      width: auto;
      height: 1px;
      background-color: rgba(74, 144, 226, 0.2);
    }

    ion-item {
      --min-height: 18px;

      ion-radio {
        --border-radius: 12px;
        --color: #A1A8CA;
        --color-checked: #A1A8CA;
        --inner-border-radius: 11px;
        margin-right: 13px;
      }

      ion-label {
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #171538;
      }

      &:last-child {
        margin-bottom: 14px;
      }
    }
  }
}
