<ion-header mode="ios" [ngClass]="{'dedicated-mode':sharedDataService.dedicatedMode}">
	<ng-container *ngIf="!sharedDataService.dedicatedMode">
		<app-modal-header [modalTitle]="'PAGESPECIFIC_TEXT.CHECK_IN_AND_OUT.INDUCTION' | translate" (closeModal)="onClose()"></app-modal-header>

		<app-next-prev-toolbar totalCount="42" currentCount="4" (previous)="previous()" (next)="next()"></app-next-prev-toolbar>
	</ng-container>

	<app-modal-header-dm
		*ngIf="sharedDataService.dedicatedMode"
		[modalTitle]="sharedDataService.getCurrentCheckedInEntityName()"
		modalSubTitle="{{'PAGESPECIFIC_TEXT.CHECK_IN_AND_OUT.CHECK_IN' | translate}}"
		(closeModal)="onClose()"
	></app-modal-header-dm>

	<app-warning-component *ngIf="errorMessage" [message]="errorMessage"></app-warning-component>

	<app-back-continue-toolbar
		[title]="'PAGESPECIFIC_TEXT.FORM_LIST.FORM_NAME' | translate"
		*ngIf="sharedDataService.dedicatedMode"
		(back)="onBack()"
		(continue)="onContinue()"
	></app-back-continue-toolbar>
</ion-header>

<ion-content [ngClass]="{'dedicated-mode':sharedDataService.dedicatedMode}">
	<div class="content-container">
		<ion-list lines="none" mode="ios">
			<div class="list-item-container" *ngFor="let section of list;let idx=index" [ngClass]="{error:!isValid(idx, section)}">
				<ion-radio-group [(ngModel)]="section.answer">
					<ion-list-header lines="full">
						<h6>
							<ion-note color="danger" *ngIf="section.required">*</ion-note>
							{{(idx + 1) + '. ' + section.question}}
						</h6>
						<p *ngIf="section.note">{{'PAGESPECIFIC_TEXT.FORM_LIST.NOTE' | translate}}: {{section.note}}</p>
					</ion-list-header>
					<div class="hr-line"></div>
					<ion-item *ngFor="let item of section.options">
						<ion-label>{{item.title}}</ion-label>
						<ion-radio mode="md" slot="start" [value]="item.value"></ion-radio>
					</ion-item>
				</ion-radio-group>
			</div>
		</ion-list>

		<div class="fill-vertical-space"></div>

		<ion-footer mode="ios" *ngIf="!sharedDataService.dedicatedMode">
			<ion-button expand="full" class="action-btn" (click)="onContinue()">{{'PAGESPECIFIC_TEXT.FORM_LIST.SIGNOFF' | translate}}</ion-button>
		</ion-footer>
	</div>
</ion-content>
