<ion-content mode="md">
    <div class="content">
        <h3>Please choose where you want to use this device</h3>

        <ion-radio-group *ngFor="let item of locations" [(ngModel)]="selectedLocation">
            <ion-item lines="none">
                <ion-radio slot="start" [value]="item"></ion-radio>
                <ion-label>{{item.locationName}}</ion-label>
            </ion-item>
        </ion-radio-group>

        <ion-button expand="full" [disabled]="!selectedLocation" class="action-btn" (click)="onContinue()">Continue
        </ion-button>
    </div>

</ion-content>


<ion-footer class="ion-text-center">
    <div class="device-uid">DEVICE UID {{sharedDataService.deviceUID}}</div>
</ion-footer>
