<ion-content fullscreen="true">
	<h2 class="page-title">{{'PAGE.FORGOT_PASSWORD_RESET.TITLE' | translate}}</h2>
	<p class="page-description">{{'PAGE.FORGOT_PASSWORD_RESET.DESCRIPTION' | translate}}</p>

	<div class="input-form">
		<form [formGroup]="myForm">
			<div class="app-warning-component">
				<app-warning-component *ngIf="errorMessage && errorMessage.length>0" [message]="errorMessage"></app-warning-component>
			</div>

			<ion-item class="password-item">
				<ion-label position="stacked">{{'COMMON.PROFILE.NEW_PASSWORD' | translate}}</ion-label>
				<ion-input
					formControlName="password"
					autocapitalize="off"
					[ngClass]="{'error': (isSubmitted && !myForm.controls.password.valid)}"
					[placeholder]="'COMMON.PROFILE.ENTER_NEW_PASSWORD' | translate"
					type="password"
				></ion-input>
			</ion-item>

			<ion-item class="password-item">
				<ion-label position="stacked">{{'COMMON.PROFILE.CONFIRM_NEW_PASSWORD' | translate}}</ion-label>
				<ion-input
					formControlName="passwordConfirm"
					autocapitalize="off"
					[ngClass]="{'error': (isSubmitted && !myForm.controls.passwordConfirm.valid)}"
					[placeholder]="'COMMON.PROFILE.CONFIRM_NEW_PASSWORD' | translate"
					type="password"
				></ion-input>
			</ion-item>
		</form>
	</div>

	<ion-button expand="full" class="signin-btn" (click)="onSubmit()">{{'PAGE.FORGOT_PASSWORD_RESET.CONFIRM_MY_NEW_PASSWORD' | translate}}</ion-button>
</ion-content>
