<ion-content fullscreen="true">
    <h2 class="page-title">Reset Password</h2>
    <p class="page-description">
        Please set up new password for your account
    </p>

    <div class="input-form">
        <Form [formGroup]="myForm">
            <div class="app-warning-component">
                <app-warning-component *ngIf="errorMessage && errorMessage.length>0"
                                       [message]="errorMessage"></app-warning-component>
            </div>


            <ion-item class="password-item">
                <ion-label position="stacked">New Password</ion-label>
                <ion-input
                        formControlName="password"
                        autocapitalize="off"
                        [ngClass]="{'error': (isSubmitted && !myForm.controls.password.valid)}"
                        placeholder="Enter new password"
                        type="password"
                ></ion-input>
            </ion-item>

            <ion-item class="password-item">
                <ion-label position="stacked">Confirm New Password</ion-label>
                <ion-input
                        formControlName="passwordConfirm"
                        autocapitalize="off"
                        [ngClass]="{'error': (isSubmitted && !myForm.controls.passwordConfirm.valid)}"
                        placeholder="Confirm new password"
                        type="password"
                ></ion-input>
            </ion-item>

        </Form>


    </div>

    <ion-button expand="full" class="signin-btn" (click)="onSubmit()">Confirm my New password</ion-button>

</ion-content>
