<ion-content fullscreen="false">
	<h2 class="page-title">{{'PAGE.FORGOT_PASSWORD.TITLE' | translate}}</h2>
	<p class="page-description">{{'PAGE.FORGOT_PASSWORD.DESCRIPTION' | translate}}</p>

	<form class="input-form" [formGroup]="myForm">
		<div class="app-warning-component">
			<app-warning-component *ngIf="errorMsg && errorMsg.length>0" [message]="errorMsg"></app-warning-component>
		</div>

		<ion-item class="email-item">
			<ion-label position="stacked">{{'PAGE.FORGOT_PASSWORD.EMAIL_ADDRESS' | translate}}</ion-label>
			<ion-input
				formControlName="email"
				autocapitalize="off"
				autocomplete="email"
				inputmode="email"
				[ngClass]="{'error': (isSubmitted && !myForm.controls.email.valid)}"
				[placeholder]="'PAGE.FORGOT_PASSWORD.ENTER_EMAIL_ADDRESS' | translate"
				type="email"
			></ion-input>
		</ion-item>
	</form>

	<ion-button expand="full" class="signin-btn" (click)="onSubmit()">{{'PAGE.FORGOT_PASSWORD.SEND_LINK_TO_EMAIL' | translate}}</ion-button>
	<ion-button fill="clear" class="forgot-password-btn" routerLink="/login" routerDirection="back"> {{'PAGE.FORGOT_PASSWORD.GO_TO_SIGN_IN' | translate}} </ion-button>
</ion-content>
