ion-content {
  --background: var(--ion-color-app-primary);
  --padding-start: 9.07%;
  --padding-end: 9.07%;

  .page-title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    margin-top: 16vh;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
  }

  .page-description {
    margin-top: 16px;
    width: 100%;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
  }

  .input-form {
    margin-top: 48px;

    .email-input {

    }

  }

  .app-warning-component {
    margin-bottom: 20px;
  }

}
