<ion-content fullscreen="false">
    <h2 class="page-title">Forgot Password</h2>
    <p class="page-description">
        Please enter your registered email address and we will send you a password reset link.
    </p>


    <Form class="input-form" [formGroup]="myForm">

        <div class="app-warning-component">
            <app-warning-component *ngIf="errorMsg && errorMsg.length>0" [message]="errorMsg"></app-warning-component>
        </div>


        <ion-item class="email-item">
            <ion-label position="stacked">Email Address</ion-label>
            <ion-input
                    formControlName="email"
                    autocapitalize="off"
                    autocomplete="email"
                    inputmode="email"
                    [ngClass]="{'error': (isSubmitted && !myForm.controls.email.valid)}"
                    placeholder="Enter email address"
                    type="email"
            ></ion-input>
        </ion-item>
    </Form>

    <ion-button expand="full" class="signin-btn" (click)="onSubmit()">Send Link to Email</ion-button>
    <ion-button fill="clear" color="light" class="forgot-password-btn" routerLink="/login" routerDirection="back">
        Go to Sign In
    </ion-button>

</ion-content>
