ion-content {
  --background: var(--ion-color-app-primary);
  --padding-start: 9.07%;
  --padding-end: 9.07%;

  .page-title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    margin-top: 16vh;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
  }

  .page-description {
    margin-top: 16px;
    width: 100%;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
  }

  .input-form {
    margin-top: 48px;

    .email-input {

    }

  }

  .signin-btn {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin-top: 24px;
    height: 52px;
    --background: #2A6FDB;
  }

  .forgot-password {
    margin-top: 22px;
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    height: auto;
  }

  .app-warning-component {
    margin-bottom: 20px;
  }

}
