<ion-content fullscreen="false">
    <h2 class="page-title">Forgot Password</h2>
    <p class="page-description">
        Please enter your registered email address and we will send you a password reset link.
    </p>


    <div class="input-form">

        <div class="app-warning-component">
            <app-warning-component *ngIf="isError" message="All fileds are required to be filled."></app-warning-component>
        </div>

        <div class="email-input">
            <app-auth-input
                    [isError]="isError"
                    placeholder="Enter email address"
                    label="Email Address"
                    autocapitalize="off"
                    autocomplete="email"
                    inputmode="email">
            </app-auth-input>
        </div>
    </div>

    <ion-button expand="full" class="signin-btn" (click)="onSubmit()">Send Link to Email</ion-button>
    <ion-button fill="clear" color="light" class="forgot-password" routerLink="/login" routerDirection="back">
        Go to Sign In
    </ion-button>

</ion-content>
