<ion-header mode="ios">
    <app-modal-header
        [modalTitle]="'PAGESPECIFIC_TEXT.ACTIVITIES.ACTIVITY' | translate"
        (closeModal)="onClose()"
    ></app-modal-header>

    <ion-item
        lines="none"
        *ngIf="activityListItem && activityListItem.activityTitle"
    >
        <ion-label>
            <h6>{{activityListItem.activityTitle}}</h6>
            <div class="detail">
                <ion-badge
                    *ngIf="activityListItem.isOverDue"
                    color="warning"
                    class="overdue"
                    >{{'PAGESPECIFIC_TEXT.ACTIVITIES.OVERDUE' |
                    translate}}</ion-badge
                >
                <ng-container *ngIf="activityListItem.isRejected">
                    <!--                    <ion-icon slot="start" src="./assets/icon/rejected.svg"></ion-icon>-->
                    <ion-badge color="light" class="rejected"
                        >{{'PAGESPECIFIC_TEXT.ACTIVITIES.REJECTED' |
                        translate}}</ion-badge
                    >
                </ng-container>
                <span
                    class="time"
                    *ngIf="activityListItem.activityTime; else customTime"
                    >{{activityListItem.activityTime}}</span
                >
                <ng-template #customTime>
                    <span
                        class="time"
                        *ngIf="activityListItem.activityDate === activityListItem.todayDate"
                        >{{'PAGESPECIFIC_TEXT.ACTIVITIES.TODAY' |
                        translate}}</span
                    >
                    <span
                        class="time"
                        *ngIf="activityListItem.activityDate !== activityListItem.todayDate"
                        >{{activityListItem.activityDate | timeAgo}}</span
                    >
                </ng-template>
            </div>

            <div class="rejected-view" *ngIf="activityListItem?.isRejected">
                <div class="detail">
                    <ion-icon
                        slot="start"
                        src="./assets/icon/rejected.svg"
                    ></ion-icon>
                    <ion-label class="rejected"
                        >{{'PAGESPECIFIC_TEXT.ACTIVITIES.SIGNATURE_REJECTED' |
                        translate}}</ion-label
                    >
                </div>

                <p class="time" *ngIf="activityListItem?.rejectedBy;">
                    {{'PAGESPECIFIC_TEXT.ACTIVITIES.BY' |
                    translate}}&nbsp;{{activityListItem?.rejectedBy}}&nbsp;{{'PAGESPECIFIC_TEXT.ACTIVITIES.ON'
                    | translate}}
                    <ng-container
                        *ngIf="activityListItem?.formattedApprovedRejectedDate; else approvedRejectedDate"
                    >
                        {{activityListItem?.formattedApprovedRejectedDate}}
                    </ng-container>
                    <ng-template #approvedRejectedDate>
                        {{activityListItem?.approvedRejectedDate | date:'dd MMM
                        yyyy HH:mm'}}
                    </ng-template>
                </p>

                <div
                    class="reject-reason"
                    *ngIf="activityListItem?.rejectedReason"
                >
                    <h3>
                        {{'PAGESPECIFIC_TEXT.ACTIVITIES.REJECTION_REASON' |
                        translate}}
                    </h3>
                    <p>{{activityListItem?.rejectedReason}}</p>
                </div>
            </div>
        </ion-label>
    </ion-item>

    <app-warning-component
        *ngIf="errorMessage"
        [message]="errorMessage"
    ></app-warning-component>
</ion-header>
<ion-content class="ion-padding-horizontal" fullscreen="true">
    <div class="content-container">
        <ion-item
            lines="full"
            class="title-item"
            *ngIf="activityListItem && (activityListItem.formattedDescription || activityListItem.formattedExplanation)"
        >
            <ion-label class="ion-text-wrap">
                <p
                    *ngIf="activityListItem.formattedDescription"
                    [innerHTML]="sanitizer.bypassSecurityTrustHtml(activityListItem.formattedDescription)"
                ></p>

                <ng-container *ngIf="activityListItem.formattedExplanation">
                    <h6>
                        {{'PAGESPECIFIC_TEXT.ACTIVITIES.EXPLANATION' |
                        translate}}
                    </h6>
                    <p
                        [innerHTML]="sanitizer.bypassSecurityTrustHtml(activityListItem.formattedExplanation)"
                    ></p>
                </ng-container>
            </ion-label>
        </ion-item>

        <div class="ion-margin-top" *ngIf="activityAttachments">
            <ion-item
                lines="none"
                class="form-item"
                (click)="openFile(attachment)"
                *ngFor="let attachment of activityAttachments"
            >
                <ion-img
                    slot="start"
                    [src]="attachment.documentFileIconURL"
                ></ion-img>
                <ion-label>
                    {{attachment.documentTitle?attachment.documentTitle:attachment.documentFileName}}
                </ion-label>
            </ion-item>
        </div>

        <div class="fill-vertical-space"></div>

        <ion-footer mode="ios" *ngIf="activityListItem">
            <ion-button
                expand="full"
                *ngIf="activityListItem.activityType === EnumService.ActivityType.FORM_SIGNOFF_ACTIVITY"
                class="action-btn"
                (click)="openForm()"
                >{{'PAGESPECIFIC_TEXT.ACTIVITIES.OPEN' | translate}}
            </ion-button>
            <ion-button
                expand="full"
                *ngIf="activityListItem.activityType === EnumService.ActivityType.DOCUMENT_SIGNOFF_ACTIVITY"
                class="action-btn"
                (click)="openDocument()"
            >
                {{(documentViewed ? 'PAGESPECIFIC_TEXT.ACTIVITIES.SIGNOFF' :
                'PAGESPECIFIC_TEXT.ACTIVITIES.OPEN') | translate}}
            </ion-button>

            <ion-button
                expand="full"
                *ngIf="showGenerateJsonFileButton && activityListItem.activityType === EnumService.ActivityType.DOCUMENT_SIGNOFF_ACTIVITY"
                class="action-btn"
                (click)="openDocument(true)"
            >
                Generate JSON File
            </ion-button>

            <ion-button
                expand="full"
                *ngIf="activityListItem.activityType === EnumService.ActivityType.CUSTOM_ACTIVITY"
                class="action-btn"
                (click)="markAsCompleted()"
                >{{'PAGESPECIFIC_TEXT.ACTIVITIES.MARK_AS_COMPLETED' |
                translate}}
            </ion-button>
        </ion-footer>
    </div>
</ion-content>
