<ion-header mode="ios">
    <app-modal-header modalTitle="Activity" (closeModal)="onClose()"></app-modal-header>

    <ion-item lines="none" *ngIf="activityListItem">
        <ion-label>
            <h6>{{activityListItem.activityTitle}}</h6>
            <div class="detail">
                <ion-badge *ngIf="activityListItem.isOverDue" color="warning" class="overdue">Overdue</ion-badge>
                <ng-container *ngIf="activityListItem.isRejected">
                    <ion-icon slot="start" src="./assets/icon/rejected.svg"></ion-icon>
                    <ion-badge color="light" class="rejected">Rejected</ion-badge>
                </ng-container>
                <span class="time"
                      *ngIf="activityListItem.activityTime; else customTime">{{activityListItem.activityTime}}</span>
                <ng-template #customTime>
                    <span class="time" *ngIf="activityListItem.activityDate === activityListItem.todayDate">Today</span>
                    <span class="time"
                          *ngIf="activityListItem.activityDate !== activityListItem.todayDate">{{activityListItem.activityDate | timeAgo}}</span>
                </ng-template>
            </div>



            <div class="reject-reason" *ngIf="activityListItem?.rejectedReason">
                <h3>Rejection Reason</h3>
                <p>{{activityListItem?.rejectedReason}}</p>
            </div>

        </ion-label>
    </ion-item>


    <app-warning-component *ngIf="errorMessage" [message]="errorMessage"></app-warning-component>
</ion-header>
<ion-content class="ion-padding-horizontal" fullscreen="true">

    <ion-item lines="full" class="title-item"
              *ngIf="activityListItem && (activityListItem.formattedDescription || activityListItem.formattedExplanation)">
        <ion-label class="ion-text-wrap">
            <p *ngIf="activityListItem.formattedDescription"
               [innerHTML]="activityListItem.formattedDescription"></p>

            <ng-container *ngIf="activityListItem.formattedExplanation">
                <h6>Explanation</h6>
                <p [innerHTML]="activityListItem.formattedExplanation"></p>
            </ng-container>
        </ion-label>
    </ion-item>

    <div class="ion-margin-top" *ngIf="activityAttachments">
        <ion-item lines="none" class="form-item" (click)="openFile(attachment)"
                  *ngFor="let attachment of activityAttachments">
            <ion-img slot="start" [src]="attachment.documentFileIconURL"></ion-img>
            <ion-label>
                {{attachment.documentFileName}}
            </ion-label>
        </ion-item>
    </div>

</ion-content>

<ion-footer mode="ios" *ngIf="activityListItem">
    <ion-button expand="full" *ngIf="activityListItem.activityType === EnumService.ActivityType.FORM_SIGNOFF_ACTIVITY"
                class="action-btn" (click)="openForm()">Open
    </ion-button>
    <ion-button expand="full"
                *ngIf="activityListItem.activityType === EnumService.ActivityType.DOCUMENT_SIGNOFF_ACTIVITY"
                class="action-btn" (click)="openDocument()">
        {{documentViewed ? 'Sign-Off' : 'Open'}}
    </ion-button>
    <ion-button expand="full" *ngIf="activityListItem.activityType === EnumService.ActivityType.CUSTOM_ACTIVITY"
                class="action-btn" (click)="markAsCompleted()">Mark as Completed
    </ion-button>
</ion-footer>
