<ion-header mode="ios">
    <app-modal-header [modalTitle]="'Terms & Conditions'" (closeModal)="onClose()"></app-modal-header>
</ion-header>

<ion-content [scrollY]="!loading">
    <div class="content-container">
        <app-screen-inner-loading *ngIf="loading"></app-screen-inner-loading>
        <div class="aggrement-content" [innerHTML]="sanitizer.bypassSecurityTrustHtml(termsConditionsText)"></div>

        <div class="fill-vertical-space"></div>
        <ion-footer mode="ios">
            <ion-button expand="full" class="action-btn" (click)="onClose()">Continue</ion-button>
        </ion-footer>
    </div>
</ion-content>
