<ion-header mode="ios">
    <ion-toolbar mode="ios" class="model-header-toolbar">
        <ion-title size="large">{{'Terms & Conditions'}}</ion-title>
        <ion-buttons slot="end">
            <app-model-close-button (closeModal)="onClose()"></app-model-close-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [scrollY]="!loading">
    <app-screen-inner-loading *ngIf="loading"></app-screen-inner-loading>
    <div class="aggrement-content" [innerHTML]="sanitizer.bypassSecurityTrustHtml(termsConditionsText)"></div>
</ion-content>

<ion-footer mode="ios">
    <ion-button expand="full" class="action-btn" (click)="onClose()">Continue</ion-button>
</ion-footer>
