<ion-header mode="ios">
    <ion-toolbar mode="ios" class="model-header-toolbar">
        <ion-title size="large">{{'My Signed Documents'}}</ion-title>
        <ion-buttons slot="end">
            <app-model-close-button (closeModal)="onClose()"></app-model-close-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <app-custom-ion-refresh-loader [isRefreshing]="isRefreshing"></app-custom-ion-refresh-loader>
    </ion-refresher>

    <ng-container *ngIf="list && list.length>0; else emptyMessage">
        <ion-list lines="none">
            <ion-item mode="md" lines="full" *ngFor="let item of list" (click)="openFile(item)">
                <ion-icon slot="start" src="./assets/icon/attachment2.svg"></ion-icon>
                <ion-label class="ion-text-wrap">
                    <h4>{{item.documentTitle}}</h4>
                    <!--                <p>Expires on {{item.timeDifference | date:'dd MMM yyyy HH:mm'}}</p>-->
                    <p>{{item.formattedCreatedDate}}</p>
                </ion-label>
            </ion-item>
        </ion-list>

        <!--        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">-->
        <!--            <ion-infinite-scroll-content [loadingSpinner]="null">-->
        <!--                <div class="ion-infinite-custom-loader" *ngIf="isLoadingMoreData">-->
        <!--                    <ion-icon src="./assets/icon/Loader.svg"></ion-icon>-->
        <!--                </div>-->
        <!--            </ion-infinite-scroll-content>-->
        <!--        </ion-infinite-scroll>-->
    </ng-container>

    <ng-template #emptyMessage>
        <app-empty-message message="There are no signed-off files."></app-empty-message>
    </ng-template>
</ion-content>
