<ion-header>
    <app-modal-header-dm [modalTitle]="sharedDataService.dedicatedModeLocationUse.title" [modalSubTitle]="authFor"
                         (closeModal)="onClose()"></app-modal-header-dm>
</ion-header>

<ion-content>
    <app-back-continue-toolbar [disableRightBtn]="!name" (back)="onBack()"
                               (continue)="onContinue()"></app-back-continue-toolbar>

    <ion-item lines="none" class="search-item">
        <ion-label position="stacked">Enter your name</ion-label>
        <ion-searchbar #itemRef [(ngModel)]="name" (ionFocus)="searchBarFocus()"
                       (ionChange)="searchBarChange()"></ion-searchbar>
        <ion-list *ngIf="showList && (items | listFilter:name:'').length>0" lines="none">
            <ion-item *ngFor="let item of items | listFilter:name:''"
                      (click)="onSelect($event, item)">{{ item }}</ion-item>
        </ion-list>
    </ion-item>


</ion-content>
