.date-item {
  .date-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #E8EAF2;
    border-radius: 3px;
    padding: 2px 16px;
    width: 100%;
  }

  ion-datetime {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #777595;
  }
}
