ion-header {
  ::ng-deep app-modal-header {
    ion-toolbar {
      --background: #F8F9FB;
      --border-color: transparent;
      --border-width: 0;
    }
  }
}

ion-content {
  --padding-start: 9.07%;
  --padding-end: 9.07%;
  --background: #F8F9FB;

  &.dedicated-mode {
    .content {
      width: 50%;
      margin: 0 auto;
      justify-content: flex-start;

      .title-1 {
        margin-top: 24px;
      }

      ion-img {
        margin-top: 40px;
        flex:1;
      }

      .action-btn {
        width: 198px;
        height: 50px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    text-align: center;

    ion-img {
      width: 220px;
      height: 220px;
      flex: 1;
      background-color: #D4E2F8;
      margin-bottom: 20px;
    }

    .heading-1 {
      margin-top: 8%;
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      color: #171538;
    }


    .title-1 {
      margin-top: 8%;
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #171538;
    }

    .text-1 {
      margin-top: 16px;
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #171538;
    }

    .retake-btn {
      margin-bottom: 8px;
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      --color: #2A6FDB;
    }
  }

}

ion-footer {
  background-color: #F8F9FB;

  .action-btn {
    margin-bottom: 16px;
  }
}

