ion-content {
  --background: var(--ion-color-app-primary);
  --padding-start: 9.07%;
  --padding-end: 9.07%;

  .page-title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    margin-top: 16.19%;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
  }

  .page-description {
    margin-top: 16px;
    width: 163px;
    height: 44px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
  }

  ion-select {
    --placeholder-color: #fff;
    --placeholder-opacity: 1;
  }

  .signin-btn {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  .forgot-password {
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
  }

  .bottom-view {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    ion-select {
      font-family: SF Pro Display;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      border: 1px solid #fff;
      padding: 6px 12px 6px 0px;
      border-radius: 4px;
      color: #ffffff;
      flex-direction: row-reverse;

      &::part(icon) {
        margin-right: 12px;
        opacity: 1;
      }
    }

    .device-uid {
      font-family: SF Pro Display;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      color: #FFFFFF;
      opacity: 0.5;
    }
  }

}
