ion-content {
  --background: var(--ion-color-app-primary);
  --padding-start: 9.07%;
  --padding-end: 9.07%;

  .page-title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    margin-top: 16vh;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
  }

  .page-description {
    margin-top: 16px;
    width: 163px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
  }

  .input-form {
    margin-top: 48px;

    ion-item {
      --background: transparent;
      --inner-padding-end: 0;
      --padding-start: 0;
      --padding-end: 0;

      &.password-item {
        margin-top: 24px;
      }

      ion-label {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF !important;
        margin-bottom: 8px !important;
        margin-top: 0px !important;
      }

      ion-input {
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        min-height: 48px;

        border: 1px solid #F7F8F9;
        box-sizing: border-box;
        border-radius: 3px;

        --placeholder-font-style: normal;
        --placeholder-font-weight: normal;

        --background: #ffffff;
        --color: #171538;
        --placeholder-color: #171538;

        --padding-start: 16px !important;
        --padding-end: 16px !important;
      }

      .error {
        --background: #FFF6DE;
        border: 1px solid #E4D3A3;
        border-radius: 3px;
      }
    }


  }


  .signin-btn {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin-top: 24px;
    height: 52px;
    --background: #2A6FDB;
  }

  .forgot-password {
    margin-top: 22px;
    width: 100%;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    height: auto;
  }

  .bottom-view {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;

    ion-select {
      --placeholder-color: #fff;
      --placeholder-opacity: 1;
      font-family: SF Pro Display;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      border: 1px solid #fff;
      padding: 6px 12px 6px 0px;
      border-radius: 4px;
      color: #ffffff;
      flex-direction: row-reverse;

      &::part(icon) {
        margin-right: 12px;
        opacity: 1;
      }
    }

    .device-uid {
      margin-top: 20px;
      margin-bottom: 17px;
      font-family: SF Pro Display;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      color: #FFFFFF;
      opacity: 0.5;
    }
  }

  .app-warning-component {
    margin-bottom: 20px;
  }

}

