<ion-content fullscreen="true">
    <h2 class="page-title">Sign In</h2>
    <p class="page-description">
        Please enter your
        credentials to sign in.
    </p>

    <div class="input-form">
        <div class="app-warning-component">
            <app-warning-component *ngIf="isError"
                                   message="All fileds are required to be filled."></app-warning-component>
        </div>

        <app-auth-input
                class="email-input"
                [isError]="isError"
                placeholder="Enter email address"
                label="Email Address"
                autocapitalize="off"
                autocomplete="email"
                inputmode="email">
        </app-auth-input>

        <app-auth-input
                class="password-input"
                [isError]="isError"
                placeholder="Enter password"
                label="Password"
                type="password"
        ></app-auth-input>

    </div>

    <ion-button expand="full" class="signin-btn" (click)="onSubmit()">Sign In</ion-button>
    <ion-button fill="clear" color="light" class="forgot-password" routerLink="/forgot-password">
        Forgot password?
    </ion-button>


    <div class="bottom-view">
        <ion-select placeholder="ENGLISH" interface="action-sheet" cancelText="cancel">
            <ion-select-option value="f">ENGLISH</ion-select-option>
            <ion-select-option value="m">DUTCH</ion-select-option>
        </ion-select>

        <ion-text color="light" class="device-uid">DEVICE UID 2193891273</ion-text>
    </div>
</ion-content>
