<ion-header>
    <ion-toolbar  *ngIf="!sharedDataService.dedicatedMode" mode="ios" class="model-header-toolbar">
        <ion-title size="large">{{'Induction'}}</ion-title>
        <ion-buttons slot="end">
            <app-model-close-button (closeModal)="onClose()"></app-model-close-button>
        </ion-buttons>
    </ion-toolbar>

    <app-modal-header-dm *ngIf="sharedDataService.dedicatedMode"
                         [modalTitle]="sharedDataService.getCurrentCheckedInEntityName()" modalSubTitle="Check In"
                         (closeModal)="onClose()"></app-modal-header-dm>
</ion-header>

<ion-content [ngClass]="{'dedicated-mode':sharedDataService.dedicatedMode}">
    <div class="content-container">
        <app-back-continue-toolbar *ngIf="sharedDataService.dedicatedMode" (back)="onBack()"
                                   (continue)="onContinue()"></app-back-continue-toolbar>

        <div class="content">
            <h6 class="text-title-1" *ngIf="!sharedDataService.dedicatedMode">
                Image
            </h6>

            <div class="image-view" *ngIf="inductionItem">
                <ion-img [src]="sharedDataService.globalDirectories.documentDirectory+inductionItem.documentFileName">
                </ion-img>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer mode="ios" *ngIf="!sharedDataService.dedicatedMode">
    <ion-button expand="full" class="action-btn" (click)="onContinue()">Continue</ion-button>
</ion-footer>


