ion-header {
  ::ng-deep app-back-continue-toolbar {
    ion-toolbar {
      padding-top: 16px;
      --background: #F6F9FB;

      ion-title {
        padding: 0 14px;
        position: relative;
        font-size: 22px;
      }
    }
  }
}

ion-content {
  --background: #F6F9FB;

  ion-list {
    background: transparent;
    width: 50%;
    margin: auto;
    min-width: 320px;

    ion-card {
      margin-bottom: 16px;

      ion-card-title {
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;

        ion-text {
          color: #D0021B;
          vertical-align: middle;
        }
      }

      ion-radio-group {
        ion-label {
          font-family: IBM Plex Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          color: #171538;
        }
      }
    }

    ion-radio {
      --border-color: #4A90E2;
      --border-color-checked: #4A90E2;
      --color: #4A90E2;
    }
  }

  .text-bottom-msg {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #171538;
    padding: 0 32px;
    background-color: #ffffff;

    ion-label {
      //max-width: 80%;
    }

    .action-btn {
      width: 200px;
    }
  }
}
