ion-content {
  --background: #F6F9FB;

  ion-list {
    background: transparent;
    width: 50%;
    margin: auto;
    min-width: 320px;

    ion-card {
      margin-bottom: 16px;

      ion-card-title {
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;

        ion-text {
          color: #D0021B;
          vertical-align: middle;
        }
      }

      ion-radio-group {
        ion-label {
          font-family: IBM Plex Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          color: #171538;
        }
      }
    }

    ion-radio {
      --border-color: #4A90E2;
      --border-color-checked: #4A90E2;
      --color: #4A90E2;
    }
  }
}
