ion-toolbar {
  --border-style: none;
}
ion-content {
  padding: 20px;
}

ion-card {
  box-shadow: none;
  border: 1px solid black;
  border-radius: 0px;

  font-family: Inconsolata;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 101px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.65em;

  /* Txt */

  color: #171538;

  ion-card-title {
    text-align: center;
  }
}

.dash.ios.hydrated {
  border: none;
}

.heading {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  text-align: center;

  /* Txt */

  color: #171538;
}
.sub-heading {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  /* or 214% */
  padding: 20px;

  text-align: center;

  /* Txt */

  color: #171538;
}

.otp {
  display: flex;
}
