<ion-header>
  <ion-toolbar>
    <!-- <ion-title>browserpairing</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h3 class="heading">Browser Pairing</h3>
    <p class="sub-heading">
      In order to have this browser paired for “dedicated mode” use, please
      contact your company admin and share the code shown below. Refresh this
      page when pairing is done.
    </p>
  </div>

  <div class="otp">
    <ion-card>
      <ion-card-header>
        <ion-card-title>M</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>H</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-title>-</ion-card-title>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>M</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>M</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>M</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>M</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>M</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
