<ion-header>
    <app-modal-header-dm [modalTitle]="sharedDataService.getCurrentCheckedInEntityName()" [modalSubTitle]="pageTitle"
                         (closeModal)="onClose()"></app-modal-header-dm>
</ion-header>
<ion-content fullscreen="true">
    <div class="content">
        <ion-icon src="./assets/icon/CheckSuccess.svg"></ion-icon>

        <div class="title-1">{{message}}</div>
        <ion-button expand="full" class="action-btn" (click)="onContinue()">Continue</ion-button>

    </div>

</ion-content>
