ion-content {
  --padding-start: 9.07%;
  --padding-end: 9.07%;
  --background: #F8F9FB;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    text-align: center;

    ion-icon {
      width: 100px;
      height: 100px;
    }

    .title-1 {
      margin-top: 48px;
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #171538;
    }

    .text-1 {
      margin-top: 16px;
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 22px;
      color: #E74731;
    }

    .text-2 {
      margin-top: 16px;
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #171538;
      width: 70%;
    }

    .action-btn {
      margin-top: 32px;
      width: 191px
    }
  }

  ion-footer {
    background-color: #F8F9FB;
  }
}

