<app-modal-header-dm [modalTitle]="sharedDataService.getCurrentCheckedInEntityName()" [modalSubTitle]="pageTitle"
                     (closeModal)="onClose()"></app-modal-header-dm>

<ion-content fullscreen="true">
    <div class="content">
        <ion-icon src="./assets/icon/ErrorCheck.svg"></ion-icon>

        <div class="text-1">{{title}}</div>
        <div class="title-1">{{errorTitle}}</div>
        <div class="text-2">{{errorMessage}}</div>
        <ion-button expand="full" class="action-btn" (click)="onContinue()">Exit</ion-button>

    </div>

</ion-content>
