<ion-header>
    <app-modal-header-dm modalTitle="Demo Location 1" (closeModal)="onClose()"></app-modal-header-dm>
</ion-header>

<ion-content>

    <div class="content">
        <div class="text-1">What do you want to do this with this document?</div>
        <div class="text-2" *ngIf="queryParam">
            {{queryParam.title}}
        </div>


        <ion-button class="action-btn" (click)="viewAndSignOff()">
            View and Sign-Off
        </ion-button>

        <ion-button class="cancel-btn" fill="outline" (click)="viewOnly()">
            View Only
        </ion-button>
    </div>
</ion-content>
