ion-content {
  --background: #F6F9FB;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .text-1 {
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 31px;
      display: flex;
      text-align: center;
      color: #171538;
    }

    .text-2 {
      margin-top: 24px;
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      text-align: center;
      color: #4A90E2;
    }



    .action-btn {
      margin-top: 50px;
      width: 207px;
      margin-bottom: 31px;
    }


    .cancel-btn {
      --background: #ffffff;
      width: 207px;
      --border-width: 2px;
      --border-color: #2A6FDB;
      --border-radius: 3px;
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #2A6FDB;
    }
  }
}
