<ng-container [formGroup]="form">
    <ion-radio-group [formControlName]="inputName">
        <ion-item *ngFor="let item of list" class="question-item">
            <ion-label
                    class="ion-text-wrap"
                    [ngStyle]="{'color':item.answerChoiceAttributeColor==='white'?null:item.answerChoiceAttributeColor}">
                {{UtilService.findObj(item.answerChoiceAttributeHeaders, 'answerChoiceAttributeHeaderLanguageId', sharedDataService.getLanguageIdForForm()).answerChoiceAttributeHeaderTitle}}
            </ion-label>
            <ion-radio mode="md" slot="start" [value]="item.answerChoiceAttributeId"></ion-radio>
        </ion-item>
    </ion-radio-group>
</ng-container>
