<ion-header>
    <app-dashboard-header [showPlaceNavigationBtns]="true" [isCurrentCheckin]="true"
                          [hideCheckinButton]="isCheckedIn"></app-dashboard-header>
</ion-header>


<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <app-custom-ion-refresh-loader [isRefreshing]="isRefreshing"></app-custom-ion-refresh-loader>
    </ion-refresher>

    <div class="loading-spinner" *ngIf="isLoading">
        <app-custom-ion-refresh-loader [isRefreshing]="isLoading"></app-custom-ion-refresh-loader>
    </div>

    <ion-list
            *ngIf="(availableWorkPermits&&availableWorkPermits?.length>0) || (availableDocuments&&availableDocuments?.length>0) || (availableForms&&availableForms?.length>0)"
            class="activity-list" lines="full">
        <ion-list-header lines="full">
            <ion-label>Available Files</ion-label>
        </ion-list-header>

        <ion-item *ngIf="availableWorkPermits && availableWorkPermits?.length>0" (click)="openWorkPermit()">
            <ion-icon slot="start" [src]="UtilService.FileIcon('folder')"></ion-icon>
            <ion-label>Work Permit Forms</ion-label>
        </ion-item>

        <ng-container *ngIf="availableForms">
            <ion-item *ngFor="let item of availableForms" (click)="openForm(item)">
                <ion-icon slot="start" [src]="UtilService.FileIcon('form')"></ion-icon>
                <ion-label class="ion-text-wrap">{{item.formTitle}}</ion-label>
            </ion-item>
        </ng-container>

        <ng-container *ngIf="availableDocuments">
            <ion-item *ngFor="let item of availableDocuments" (click)="openDocument(item)">
                <ion-img slot="start" [src]="item.documentFileIconURL"></ion-img>
                <ion-label class="ion-text-wrap">{{item.documentTitle}}</ion-label>
            </ion-item>
        </ng-container>
    </ion-list>

    <app-empty-message
            *ngIf="isCheckedIn && ((availableForms?.length===0) && (availableDocuments?.length===0) && (availableWorkPermits?.length===0))"
            icon="./assets/icon/empty-files.svg"
            message="There are no files here."></app-empty-message>

    <app-empty-message *ngIf="!isCheckedIn" icon="./assets/icon/not-checkedin.svg"
                       message="You need to check in to an entity first if you want to see the files assigned in personal mode"></app-empty-message>

</ion-content>
