<ion-header>
	<app-dashboard-header [showPlaceNavigationBtns]="true" [isCurrentCheckin]="true" [hideCheckinButton]="isCheckedIn"></app-dashboard-header>
</ion-header>

<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<app-custom-ion-refresh-loader [isRefreshing]="isRefreshing"></app-custom-ion-refresh-loader>
	</ion-refresher>

	<div class="loading-spinner" *ngIf="isLoading">
		<app-custom-ion-refresh-loader [isRefreshing]="isLoading"></app-custom-ion-refresh-loader>
	</div>

	<ion-list
		*ngIf="(availableWorkPermits&&availableWorkPermits?.length>0) || (availableDocuments&&availableDocuments?.length>0) || (availableForms&&availableForms?.length>0)"
		class="activity-list"
		lines="full"
	>
		<ion-list-header lines="full">
			<ion-label>{{'PAGE.CURRENT_CHECKIN.AVAILABLE_FILES' | translate}}</ion-label>
		</ion-list-header>

		<!-- Show folder first -->
		<ion-item *ngIf="availableWorkPermits && availableWorkPermits?.length>0" (click)="openWorkPermit()">
			<ion-icon slot="start" [src]="UtilService.FileIcon('folder')"></ion-icon>
			<ion-label>{{'PAGE.CURRENT_CHECKIN.WORK_PERMIT_FORMS' | translate}}</ion-label>
		</ion-item>

		<ng-container *ngIf="availableForms">
			<ng-container *ngFor="let item of availableForms">
				<ion-item *ngIf="item.formFolderID > 0" (click)="openFormFolder(item)">
					<ion-icon slot="start" [src]="UtilService.FileIcon('folder')"></ion-icon>
					<ion-label class="ion-text-wrap">{{item.formTitle}}</ion-label>
				</ion-item>
			</ng-container>
		</ng-container>

		<ng-container *ngIf="availableDocuments">
			<ng-container *ngFor="let item of availableDocuments">
				<ion-item *ngIf="item.folderID>0" (click)="openDocumentFolder(item)">
					<ion-icon slot="start" [src]="UtilService.FileIcon('folder')"></ion-icon>
					<ion-label class="ion-text-wrap">{{item.documentTitle}}</ion-label>
				</ion-item>
			</ng-container>
		</ng-container>
		<!--End  Show folder first -->

		<ng-container *ngIf="availableForms">
			<ng-container *ngFor="let item of availableForms">
				<ion-item *ngIf="item.formID>0" (click)="openForm(item)">
					<ion-icon slot="start" [src]="UtilService.FileIcon('form')"></ion-icon>
					<ion-label class="ion-text-wrap">{{item.formTitle}}</ion-label>
				</ion-item>
			</ng-container>
		</ng-container>

		<ng-container *ngIf="availableDocuments">
			<ng-container *ngFor="let item of availableDocuments">
				<ion-item *ngIf="item.documentID>0" (click)="openDocument(item)">
					<ion-img slot="start" [src]="item.documentFileIconURL"></ion-img>
					<ion-label class="ion-text-wrap">{{item.documentTitle}}</ion-label>
				</ion-item>
			</ng-container>
		</ng-container>
	</ion-list>

	<app-empty-message
		*ngIf="isCheckedIn && ((availableForms?.length===0) && (availableDocuments?.length===0) && (availableWorkPermits?.length===0))"
		icon="./assets/icon/empty-files.svg"
		[message]="'PAGE.CURRENT_CHECKIN.NO_FILES' | translate"
	></app-empty-message>

	<app-empty-message *ngIf="!isCheckedIn" icon="./assets/icon/not-checkedin.svg" [message]="'PAGE.CURRENT_CHECKIN.YOU_NEED_TO_CHECKIN_FIRST_MESSAGE' | translate"></app-empty-message>
</ion-content>
