<ion-header>
    <app-modal-header-dm modalTitle="Demo Location 1" [modalSubTitle]="authFor"
                         (closeModal)="onClose()"></app-modal-header-dm>
</ion-header>

<ion-content [ngClass]="{'camera-view':!photoCaptured}">
    <app-back-continue-toolbar (back)="onBack()"
                               (continue)="onContinue()"></app-back-continue-toolbar>

    <div class="content">
        <div class="text-1">
            Photo Identity
        </div>
        <div class="text-2">
            We need to take a photo of you.
            <br/>
            Please align your face in to the below area.
        </div>
        <div class="ion-img-view" #imagePreview>
            <ion-img *ngIf="photoCaptured" [src]="photoCaptured"></ion-img>
        </div>

        <ion-button class="action-btn" (click)="takePhoto()">
            {{photoCaptured ? 'Take a New Photo' : 'Take the Photo'}}
        </ion-button>
    </div>

</ion-content>
