ion-content {
  --background: #f6f9fb;
  --overflow: auto;

  .content-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;

    video {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
    canvas {
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .text-1 {
      margin-top: -40px;
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: #171538;
    }

    .text-2 {
      margin-top: 21px;
      max-width: 406px;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 140%;
      text-align: center;
      color: #171538;
    }

    .ion-img-view {
      margin-top: 21px;
      width: 220px !important;
      height: 220px !important;
      border-radius: 8px;

      ion-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .action-btn {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 200px;
      height: 50px;
    }
  }

  &.camera-view {
    --background: transparent;

    .content {
      .text-1 {
        //margin-top: 40px;
        color: #ffffff;
      }

      .text-2 {
        color: #ffffff;
      }
    }
  }

  &.wep-app {
    .content {
      background-color: rgba(0, 0, 0, 0.2);
      .ion-img-view {
        margin-top: 21px;
        width: 350px !important;
        height: 350px !important;
        background-color: rgba(255, 255, 255, 0.1);
        ion-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
