<ion-content fullscreen="true">
	<div class="content">
		<div class="fill-vertical-space"></div>
		<h2 class="page-title">{{'PAGESPECIFIC_TEXT.NEW_ACCOUNT_SETUP.TITLE' | translate}}</h2>
		<p class="page-description" *ngIf="userProfile">
			{{'PAGESPECIFIC_TEXT.NEW_ACCOUNT_SETUP.HELLO' | translate}}, {{userProfile.userFullName}}.
			<br />

			{{'PAGESPECIFIC_TEXT.NEW_ACCOUNT_SETUP.DESCRIPTION' | translate}}
			<br />
			{{'PAGESPECIFIC_TEXT.NEW_ACCOUNT_SETUP.SETUP_ACCOUNT_TO_START' | translate}}
		</p>
		<div class="fill-vertical-space"></div>

		<div class="input-form">
			<form [formGroup]="myForm">
				<div class="app-warning-component">
					<app-warning-component *ngIf="errorMessage && errorMessage.length>0" [message]="errorMessage"></app-warning-component>
				</div>

				<ion-item class="password-item">
					<ion-label position="stacked">{{'SHARED_TEXT.PROFILE.NEW_PASSWORD' | translate}}</ion-label>
					<ion-input
						formControlName="password"
						autocapitalize="off"
						[ngClass]="{'error': (isSubmitted && !myForm.controls.password.valid)}"
						[placeholder]="'SHARED_TEXT.PROFILE.ENTER_NEW_PASSWORD' | translate"
						type="password"
					></ion-input>
				</ion-item>

				<ion-item class="password-item">
					<ion-label position="stacked">{{'SHARED_TEXT.PROFILE.CONFIRM_NEW_PASSWORD' | translate}}</ion-label>
					<ion-input
						formControlName="passwordConfirm"
						autocapitalize="off"
						[ngClass]="{'error': (isSubmitted && !myForm.controls.passwordConfirm.valid)}"
						[placeholder]="'SHARED_TEXT.PROFILE.CONFIRM_NEW_PASSWORD' | translate"
						type="password"
					></ion-input>
				</ion-item>
			</form>

			<ion-item tappable lines="none" class="agree-checkbox">
				<ion-label class="ion-text-wrap">
					{{'PAGESPECIFIC_TEXT.NEW_ACCOUNT_SETUP.I_HAVE_READ_AND_AGREE' | translate}}
					<a routerLink="/terms-conditions">{{'PAGESPECIFIC_TEXT.NEW_ACCOUNT_SETUP.TERMS_CONDITIONS' | translate}}</a>
				</ion-label>
				<ion-checkbox mode="md" slot="start" [(ngModel)]="isConfirm"></ion-checkbox>
			</ion-item>
		</div>

		<ion-button [disabled]="!isConfirm" expand="full" class="signin-btn" (click)="onSubmit()">{{'PAGESPECIFIC_TEXT.NEW_ACCOUNT_SETUP.SIGN_IN' | translate}}</ion-button>
		<div class="fill-vertical-space"></div>
	</div>
</ion-content>
