<ion-header mode="ios">
    <app-modal-header modalTitle="Edit Profile" (closeModal)="onClose()"></app-modal-header>
</ion-header>

<ion-content mode="md">
    <app-warning-component *ngIf="errorMsg && errorMsg.length>0"
                           [message]="errorMsg"></app-warning-component>

    <Form [formGroup]="profileForm">
        <ion-list lines="none">
            <ion-item lines="none">
                <ion-label position="stacked">EMAIL</ion-label>
                <ion-input
                        [ngClass]="{'error':(isSubmitted && !profileForm.controls.email.valid)}"
                        formControlName="email"
                        autocomplete="email"
                        inputmode="email"
                        type="email"
                ></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-label position="stacked">PHONE</ion-label>
                <ion-input
                        [ngClass]="{'error':(isSubmitted && !profileForm.controls.phone.valid)}"
                        formControlName="phone"
                        autocomplete="tel"
                        inputmode="tel"
                        tel="tel"
                ></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-label position="stacked">TIMEZONE</ion-label>
                <ion-select
                        [ngClass]="{'error':(isSubmitted && !profileForm.controls.timezone.valid)}"
                        formControlName="timezone"
                >
                    <ion-select-option *ngFor="let item of timeZones" [value]="item.offset">({{item.offset}}
                        ) {{item.name}}</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item lines="none">
                <ion-label position="stacked">MOBILE APP LANGUAGE</ion-label>
                <ion-select
                        [ngClass]="{'error':(isSubmitted && !profileForm.controls.language.valid)}"
                        formControlName="language"
                >
                    <ion-select-option *ngFor="let item of languages"
                                       [value]="item.code">{{item.name}}</ion-select-option>
                </ion-select>
            </ion-item>

            <div class="update-btn">
                <ion-button expand="full" fill="clear" (click)="onSubmit()">Update</ion-button>
            </div>

            <div class="cancel-btn">
                <ion-button expand="full" fill="clear" (click)="onClose()">Cancel</ion-button>
            </div>
        </ion-list>
    </Form>
</ion-content>
