<app-portrait-orientation *ngIf="isShowOritationPortrait;else formView" (close)="isShowOritationPortrait=false"></app-portrait-orientation>

<ng-template #formView>
	<ion-header mode="ios" *ngIf="formBuilderDetail">
		<ng-container *ngIf="sharedDataService.dedicatedMode; else personalMode">
			<app-modal-header-dm [modalTitle]="sharedDataService.getCurrentCheckedInEntityName()" (closeModal)="onClose()" [modalSubTitle]="formBuilderDetail?.title"></app-modal-header-dm>
		</ng-container>

		<ng-template #personalMode>
			<app-modal-header [modalTitle]="formBuilderDetail?.title" (closeModal)="onClose()"></app-modal-header>

			<app-next-prev-toolbar
				[isError]="(errorMessage && errorMessage.length>0)"
				[currentCount]="currentQuestionIndex"
				[totalCount]="questionElementIds.length"
				(next)="next()"
				(previous)="previous()"
			></app-next-prev-toolbar>
		</ng-template>

		<app-warning-component *ngIf="errorMessage" [message]="errorMessage"></app-warning-component>
	</ion-header>

	<ion-content #content [scrollEvents]="true" (ionScrollEnd)="onScrollEnd($event)" (ionScroll)="onScroll($event)" mode="ios" [ngClass]="{'dedicated-mode':sharedDataService.dedicatedMode}">
		<div class="content-container">
			<ion-list lines="none">
				<ng-container *ngFor="let section of formBuilderDetail?.sections; let sectionIndex=index">
					<ng-container *ngIf="utilService.shouldShowSection(section)">
						<app-section-title [title]="UtilService.findObj(section.sectionTranslations, 'sectionTranslationLanguageId', sharedDataService.getLanguageIdForForm()).sectionTranslationTitle">
						</app-section-title>

						<!--  Risk Assessment Section-->
						<ng-container *ngIf="section.isRiskAssessmentSection; else customQuestions">
							<ng-container *ngFor="let task of section.riskAssessmentAnswerDetails?.taskAnswers; let taskIndex=index">
								<div
									class="list-item-container"
									*ngIf="utilService.shouldShowQuestion(task)"
									[id]="UtilService.HtmlElementIdUq(sectionIndex, taskIndex, section.sectionId, task.taskAnswerId)"
								>
									<app-ra-template-input
										[templateEnable]="canTemplateEnable"
										[inputEnable]="canInputEnable"
										[label]="'Task '+(taskIndex+1)"
										[(ngModel)]="task.taskAnswerTitle"
										[isInvalid]="isSubmitted && !task.taskAnswerTitle"
										(openTemplate)="openTaskTemplateForTask($event, task)"
										(onRemove)="removeTask(section, taskIndex)"
									></app-ra-template-input>

									<div class="risk-assesment-component" *ngFor="let hazard of task.hazardAnswers; let hazardIndex=index;">
										<app-ra-template-input
											[inputEnable]="true"
											[isInvalid]="isSubmitted && !hazard.hazardAnswerTitle"
											labelIcon="./assets/icon/thunder.svg"
											[label]="'Hazard '+(hazardIndex+1)"
											[(ngModel)]="hazard.hazardAnswerTitle"
											(onRemove)="removeHazard(task, hazardIndex)"
										></app-ra-template-input>

										<div class="hr-line" style="margin-top: 25px"></div>

										<ion-item class="rating-type-title">
											<h3>Risk Rating</h3>
										</ion-item>

										<div class="ratings-view-container">
											<div class="rating-dropdowns">
												<ion-item class="drop-down-item rating-item" lines="none">
													<ion-label position="stacked"> Severity </ion-label>
													<ion-select
														mode="ios"
														[(ngModel)]="hazard.riskRatingSeverityID"
														placeholder="Choose"
														[ngClass]="{error:!isRiskRatingValid(task, hazard.riskRatingSeverityID)}"
														[interfaceOptions]="{'cssClass':'riskrating-dropdown'}"
														[interface]="ionSelectInterface"
														(ionChange)="calculateRatingForHazard(hazard)"
													>
														<ion-select-option
															*ngFor="let item of severityRatings"
															[class]="'risk-rating-dropdown-option '+item.riskAssessmentSeverityOptionColor+' rating'+item.riskAssessmentSeverityOptionId"
															[value]="item.riskAssessmentSeverityOptionId"
															>{{item.riskAssessmentSeverityOptionId + " - " + item.riskAssessmentSeverityOptionTitle}}</ion-select-option
														>
													</ion-select>
												</ion-item>

												<ion-item class="drop-down-item rating-item" lines="none">
													<ion-label position="stacked"> Probability </ion-label>
													<ion-select
														mode="ios"
														[(ngModel)]="hazard.riskRatingProbabilityID"
														placeholder="Choose"
														[ngClass]="{error:!isRiskRatingValid(task, hazard.riskRatingProbabilityID)}"
														[interfaceOptions]="{'cssClass':'riskrating-dropdown'}"
														[interface]="ionSelectInterface"
														(ionChange)="calculateRatingForHazard(hazard)"
													>
														<ion-select-option
															*ngFor="let item of probabilityRatings"
															[class]="'risk-rating-dropdown-option '+item.riskAssessmentProbabilityOptionColor+' rating'+item.riskAssessmentProbabilityOptionId"
															[value]="item.riskAssessmentProbabilityOptionId"
															>{{item.riskAssessmentProbabilityOptionId + " - " + item.riskAssessmentProbabilityOptionTitle}}</ion-select-option
														>
													</ion-select>
												</ion-item>
											</div>

											<ng-container *ngIf="hazard.riskRatingCalculatedValue>0">
												<div class="rating-arrow-col">
													<ion-icon src="./assets/icon/arrow-right.svg"></ion-icon>
												</div>
												<div class="rating-value-view">
													<ion-text>Calculated Value</ion-text>
													<div class="rating-value" [ngStyle]="{'background-color': getRatingTypeAndColor(hazard.riskRatingCalculatedValue).color}">
														<h2>{{hazard.riskRatingCalculatedValue}}</h2>
														<p>{{getRatingTypeAndColor(hazard.riskRatingCalculatedValue).type}}</p>
													</div>
												</div>
											</ng-container>
										</div>

										<div class="hr-line" style="margin-top: 30px"></div>

										<div class="options">
											<ng-container *ngIf="hazard.controlMeasureAnswers">
												<ng-container *ngFor="let controlMeasure of hazard.controlMeasureAnswers; let controlMeasureIndex=index;">
													<app-ra-template-input
														[templateEnable]="canTemplateEnable"
														[inputEnable]="canInputEnable"
														[isInvalid]="isSubmitted && !controlMeasure.controlMeasureAnswerTitle"
														labelIcon="./assets/icon/control-measure.svg"
														[label]="'Control Measure ' +(controlMeasureIndex+1)"
														[(ngModel)]="controlMeasure.controlMeasureAnswerTitle"
														(openTemplate)="openTaskTemplateForControlMeasure($event, controlMeasure)"
														(onRemove)="removeControlMeasure(hazard, controlMeasureIndex)"
													></app-ra-template-input>
												</ng-container>
											</ng-container>

											<ion-toolbar>
												<ion-button slot="end" fill="clear" class="add-control-measure-btn" (click)="addControlMeasure(hazard)">
													<ion-icon slot="start" name="add"></ion-icon>
													add control measure
												</ion-button>
											</ion-toolbar>
										</div>

										<div class="hr-line" style="margin-top: 8px"></div>

										<ion-item class="rating-type-title">
											<h3>Residual Risk Rating</h3>
										</ion-item>

										<div class="ratings-view-container">
											<div class="rating-dropdowns">
												<ion-item class="drop-down-item rating-item" lines="none">
													<ion-label position="stacked"> Severity </ion-label>
													<ion-select
														mode="ios"
														[(ngModel)]="hazard.residualRiskRatingSeverityID"
														placeholder="Choose"
														[ngClass]="{error:!isRiskRatingValid(task, hazard.residualRiskRatingSeverityID)}"
														[interfaceOptions]="{'cssClass':'riskrating-dropdown'}"
														[interface]="ionSelectInterface"
														(ionChange)="calculateResidualRatingForHazard(hazard)"
													>
														<ion-select-option
															*ngFor="let item of severityRatings"
															[class]="'risk-rating-dropdown-option '+item.riskAssessmentSeverityOptionColor+' rating'+item.riskAssessmentSeverityOptionId"
															[value]="item.riskAssessmentSeverityOptionId"
															>{{item.riskAssessmentSeverityOptionId + " - " + item.riskAssessmentSeverityOptionTitle}}</ion-select-option
														>
													</ion-select>
												</ion-item>

												<ion-item class="drop-down-item rating-item" lines="none">
													<ion-label position="stacked"> Probability </ion-label>
													<ion-select
														mode="ios"
														class="riskrating-dropdown"
														[(ngModel)]="hazard.residualRiskRatingProbabilityID"
														placeholder="Choose"
														[ngClass]="{error:!isRiskRatingValid(task, hazard.residualRiskRatingProbabilityID)}"
														[interfaceOptions]="{'cssClass':'riskrating-dropdown'}"
														[interface]="ionSelectInterface"
														(ionChange)="calculateResidualRatingForHazard(hazard)"
													>
														<ion-select-option
															*ngFor="let item of probabilityRatings"
															[class]="'risk-rating-dropdown-option '+item.riskAssessmentProbabilityOptionColor+' rating'+item.riskAssessmentProbabilityOptionId"
															[value]="item.riskAssessmentProbabilityOptionId"
															>{{item.riskAssessmentProbabilityOptionId + " - " + item.riskAssessmentProbabilityOptionTitle}}</ion-select-option
														>
													</ion-select>
												</ion-item>
											</div>

											<ng-container *ngIf="hazard.residualRiskRatingCalculatedValue>0">
												<div class="rating-arrow-col">
													<ion-icon src="./assets/icon/arrow-right.svg"></ion-icon>
												</div>
												<div class="rating-value-view">
													<ion-text>Calculated Value</ion-text>
													<div class="rating-value" [ngStyle]="{'background-color': getRatingTypeAndColor(hazard.residualRiskRatingCalculatedValue).color}">
														<h2>{{hazard.residualRiskRatingCalculatedValue}}</h2>
														<p>{{getRatingTypeAndColor(hazard.residualRiskRatingCalculatedValue).type}}</p>
													</div>
												</div>
											</ng-container>
										</div>

										<div class="hr-line" style="margin-top: 30px"></div>

										<!-- Persons Exposed -->
										<div class="radio-input-view">
											<h2>Persons Exposed</h2>

											<!-- Member of the workforce -->
											<ng-container>
												<ion-item>
													<ion-label>Members of the Workforce</ion-label>
													<ion-checkbox mode="md" slot="start" [(ngModel)]="hazard.isMembersOfTheWorkForce"></ion-checkbox>
												</ion-item>

												<ng-container *ngIf="hazard.isMembersOfTheWorkForce">
													<div class="custom-segment-view" [ngClass]="{error:!isMemberOfTheWorkForceValid(task, hazard)}">
														<ion-button
															*ngFor="let item of userGroupTypes"
															mode="ios"
															fill="clear"
															[ngClass]="{'active':(hazard.memberOfTheWorkForceSelectedUserGroupType && item.id===hazard.memberOfTheWorkForceSelectedUserGroupType.id)}"
															(click)="hazard.memberOfTheWorkForceSelectedUserGroupType=item"
														>
															{{item.name}}
														</ion-button>
													</div>

													<ion-item class="drop-down-item user-group-add-dropdown item-multiple-inputs">
														<ng-container *ngIf="hazard.memberOfTheWorkForceSelectedUserGroupType && hazard.memberOfTheWorkForceSelectedUserGroupType.id==='users'">
															<div
																class="custom-dropdown-mask"
																(click)="openDrodownForAddUserGroup($event, hazard,'memberOfTheWorkForceSelectedUser' , 'isMembersOfTheWorkForceUserIDs', users, 'firstAndLastName', 'userId')"
															>
																<ion-select
																	[interface]="ionSelectInterface"
																	placeholder="Choose"
																	[ngClass]="{error:!isMemberOfTheWorkForceValid(task, hazard)}"
																	[(ngModel)]="hazard.memberOfTheWorkForceSelectedUser"
																>
																	<ion-select-option *ngFor="let item of users" [value]="item.userId">{{item.firstAndLastName}}</ion-select-option>
																</ion-select>
															</div>

															<ion-button
																slot="end"
																size="md"
																expand="block"
																(click)="addUserOrGroup(hazard, 'isMembersOfTheWorkForceUserIDs','memberOfTheWorkForceSelectedUser' )"
															>
																Add
															</ion-button>
														</ng-container>

														<ng-container *ngIf="hazard.memberOfTheWorkForceSelectedUserGroupType && hazard.memberOfTheWorkForceSelectedUserGroupType.id==='groups'">
															<div
																class="custom-dropdown-mask"
																(click)="openDrodownForAddUserGroup($event, hazard,'memberOfTheWorkForceSelectedGroup' ,'isMembersOfTheWorkForceUserGroupIDs' , groups, 'groupName', 'userGroupID')"
															>
																<ion-select
																	[interface]="ionSelectInterface"
																	placeholder="Choose"
																	[ngClass]="{error:!isMemberOfTheWorkForceValid(task, hazard)}"
																	[(ngModel)]="hazard.memberOfTheWorkForceSelectedGroup"
																>
																	<ion-select-option *ngFor="let item of groups" [value]="item.userGroupID">{{item.groupName}}</ion-select-option>
																</ion-select>
															</div>

															<ion-button
																slot="end"
																size="md"
																expand="block"
																(click)="addUserOrGroup(hazard, 'isMembersOfTheWorkForceUserGroupIDs', 'memberOfTheWorkForceSelectedGroup')"
															>
																Add
															</ion-button>
														</ng-container>
													</ion-item>

													<ng-container *ngIf="hazard.isMembersOfTheWorkForceUserIDs">
														<ion-item class="user-group-item" lines="inset" *ngFor="let item of hazard.isMembersOfTheWorkForceUserIDs?.split(','); let userIdIndex=index; ">
															<ion-label> {{UtilService.findObj(users, 'userId', item, 0).firstAndLastName}} </ion-label>
															<ion-button slot="end" shape="round" (click)="removeUserOrGroup(hazard,  'isMembersOfTheWorkForceUserIDs',userIdIndex)">
																<ion-icon slot="icon-only" name="close"></ion-icon>
															</ion-button>
														</ion-item>
													</ng-container>

													<ng-container *ngIf="hazard.isMembersOfTheWorkForceUserGroupIDs">
														<ion-item
															class="user-group-item"
															lines="inset"
															*ngFor="let item of hazard.isMembersOfTheWorkForceUserGroupIDs?.split(','); let groupIdIndex=index;"
														>
															<ion-label> {{UtilService.findObj(groups, 'userGroupID', item, 0).groupName}} </ion-label>
															<ion-button slot="end" shape="round" (click)="removeUserOrGroup(hazard,'isMembersOfTheWorkForceUserGroupIDs',groupIdIndex)">
																<ion-icon slot="icon-only" name="close"></ion-icon>
															</ion-button>
														</ion-item>
													</ng-container>
												</ng-container>
											</ng-container>
											<!-- End - Member of the workforce -->

											<!-- Member of the public -->
											<ng-container>
												<ion-item>
													<ion-label>Members of the Public</ion-label>
													<ion-checkbox mode="md" slot="start" [(ngModel)]="hazard.isMembersOfThePublic"></ion-checkbox>
												</ion-item>

												<ng-container *ngIf="hazard.isMembersOfThePublic">
													<ion-textarea
														[ngClass]="{error:!isMemberOfThePublicValid(task, hazard)}"
														rows="5"
														[(ngModel)]="hazard.membersOfThePublicDescription"
													></ion-textarea>
												</ng-container>
											</ng-container>
											<!-- End - Member of the public -->

											<!-- Personal Exposed Notification -->
											<ng-container *ngIf="hazard.isMembersOfTheWorkForce">
												<div class="hr-line" style="margin-top: 8px"></div>

												<ion-item>
													<ion-label>Personnel Exposed Notification</ion-label>
													<ion-checkbox mode="md" slot="start" [(ngModel)]="hazard.hasPersonnelExposedNotification"></ion-checkbox>
												</ion-item>

												<ng-container *ngIf="hazard.hasPersonnelExposedNotification">
													<div class="custom-segment-view" [ngClass]="{error:!hasPersonnelExposedNotificationValid(task, hazard)}">
														<ion-button
															*ngFor="let item of userGroupTypes"
															mode="ios"
															fill="clear"
															[ngClass]="{'active':(hazard.selectedUserGroupType && item.id===hazard.selectedUserGroupType.id)}"
															(click)="hazard.selectedUserGroupType=item"
														>
															{{item.name}}
														</ion-button>
													</div>

													<ion-item class="drop-down-item user-group-add-dropdown item-multiple-inputs">
														<ng-container *ngIf="hazard.selectedUserGroupType && hazard.selectedUserGroupType.id==='users'">
															<div
																class="custom-dropdown-mask"
																(click)="openDrodownForAddUserGroup($event, hazard,'personnelExposedSelectedUser', 'personnelExposedNotificationUserIDs' , users, 'firstAndLastName', 'userId')"
															>
																<ion-select
																	[interface]="ionSelectInterface"
																	placeholder="Choose"
																	[ngClass]="{error:!hasPersonnelExposedNotificationValid(task, hazard)}"
																	[(ngModel)]="hazard.personnelExposedSelectedUser"
																>
																	<ion-select-option *ngFor="let item of users" [value]="item.userId">{{item.firstAndLastName}}</ion-select-option>
																</ion-select>
															</div>

															<ion-button
																slot="end"
																size="md"
																expand="block"
																(click)="addUserOrGroup(hazard, 'personnelExposedNotificationUserIDs', 'personnelExposedSelectedUser')"
															>
																Add
															</ion-button>
														</ng-container>

														<ng-container *ngIf="hazard.selectedUserGroupType && hazard.selectedUserGroupType.id==='groups'">
															<div
																class="custom-dropdown-mask"
																(click)="openDrodownForAddUserGroup($event, hazard,'personnelExposedSelectedGroup','personnelExposedNotificationUserGroupIDs' , groups, 'groupName', 'userGroupID')"
															>
																<ion-select
																	[interface]="ionSelectInterface"
																	placeholder="Choose"
																	[ngClass]="{error:!hasPersonnelExposedNotificationValid(task, hazard)}"
																	[(ngModel)]="hazard.personnelExposedSelectedGroup"
																>
																	<ion-select-option *ngFor="let item of groups" [value]="item.userGroupID">{{item.groupName}}</ion-select-option>
																</ion-select>
															</div>

															<ion-button
																slot="end"
																size="md"
																expand="block"
																(click)="addUserOrGroup(hazard, 'personnelExposedNotificationUserGroupIDs','personnelExposedSelectedGroup')"
															>
																Add
															</ion-button>
														</ng-container>
													</ion-item>

													<ng-container *ngIf="hazard.personnelExposedNotificationUserIDs">
														<ion-item
															class="user-group-item"
															lines="inset"
															*ngFor="let item of hazard.personnelExposedNotificationUserIDs?.split(','); let userIdIndex=index;"
														>
															<ion-label> {{UtilService.findObj(users, 'userId', item, 0).firstAndLastName}} </ion-label>
															<ion-button slot="end" shape="round" (click)="removeUserOrGroup(hazard,'personnelExposedNotificationUserIDs',userIdIndex)">
																<ion-icon slot="icon-only" name="close"></ion-icon>
															</ion-button>
														</ion-item>
													</ng-container>

													<ng-container *ngIf="hazard.personnelExposedNotificationUserGroupIDs">
														<ion-item
															class="user-group-item"
															lines="inset"
															*ngFor="let item of hazard.personnelExposedNotificationUserGroupIDs?.split(','); let groupIdIndex=index;"
														>
															<ion-label> {{UtilService.findObj(groups, 'userGroupID', item, 0).groupName}} </ion-label>
															<ion-button slot="end" shape="round" (click)="removeUserOrGroup(hazard,'personnelExposedNotificationUserGroupIDs',groupIdIndex)">
																<ion-icon slot="icon-only" name="close"></ion-icon>
															</ion-button>
														</ion-item>
													</ng-container>

													<ion-item *ngFor="let notType of exposedNotificationType">
														<ion-label>{{notType.title}}</ion-label>
														<ion-checkbox mode="md" slot="start" [(ngModel)]="hazard[notType.apiKey]" [disabled]="notType.disabled"></ion-checkbox>
													</ion-item>
												</ng-container>
											</ng-container>
											<!-- End - Personal Exposed Notification -->
										</div>
										<!-- End - Persons Exposed -->

										<!-- Add New Hazard Button -->
										<ng-container *ngIf="taskIndex === (section.riskAssessmentAnswerDetails?.taskAnswers?.length-1) && hazardIndex === (task.hazardAnswers?.length-1)">
											<div class="hr-line" style="margin-top: 8px"></div>
											<ion-item>
												<ion-button fill="outline" class="add-hazard-button" (click)="addTaskHazard(task)">Add Hazard</ion-button>
											</ion-item>
										</ng-container>
										<!-- End - Add New Hazard Button -->
									</div>

									<div class="risk-assesment-component" *ngIf="!task.hazardAnswers || task.hazardAnswers.length===0">
										<!-- Add New Hazard Button -->
										<ion-item>
											<ion-button fill="outline" class="add-hazard-button" (click)="addTaskHazard(task)">Add Hazard</ion-button>
										</ion-item>
										<!-- End - Add New Hazard Button -->
									</div>
								</div>
							</ng-container>

							<ion-item *ngIf="allowEndUserToAddHazardsAndCM">
								<ion-button fill="outline" class="add-hazard-button" (click)="addTask(section)">Add Task</ion-button>
							</ion-item>
						</ng-container>

						<form [formGroup]="formGroup">
							<ng-template #customQuestions>
								<app-custom-questions-container
									[sectionIndex]="sectionIndex"
									[sectionId]="section.sectionId"
									[questionElementIds]="questionElementIds"
									[questions]="section.questions"
									[isSubmitted]="isSubmitted"
									[formGroup]="formGroup"
									[section]="section"
								></app-custom-questions-container>
							</ng-template>
						</form>
					</ng-container>
				</ng-container>

				<!--        End of form -->
				<ng-container *ngIf="!sharedDataService.dedicatedMode">
					<div class="hr-line-full ion-margin-top"></div>

					<ion-item class="text-bottom-msg">
						<ion-label class="ion-text-wrap ion-text-center"> You've reached the end of the form. Please check your answers and sign-off. </ion-label>
					</ion-item>
					<ion-item class="ion-margin-vertical ion-padding-bottom">
						<ion-button expand="full" class="action-btn" (click)="onContinue()">Sign-Off</ion-button>
					</ion-item>
				</ng-container>
			</ion-list>

			<div class="fill-vertical-space"></div>

			<!--        End of form -->
			<ng-container *ngIf="sharedDataService.dedicatedMode">
				<ion-item class="text-bottom-msg" lines="none">
					<ion-label class="ion-text-wrap ion-padding"> You've reached the end of the form. Please check your answers and sign-off. </ion-label>
					<ion-button slot="end" class="action-btn" (click)="onContinue()">Sign-Off</ion-button>
				</ion-item>
			</ng-container>
		</div>
	</ion-content>
</ng-template>
