<ion-header>
    <ion-toolbar mode="ios" class="model-header-toolbar">
        <ion-title size="large">{{sharedDataService.currentSelectedCheckinPlace?.entityName}}</ion-title>
        <ion-buttons slot="end">
            <app-model-close-button (closeModal)="onClose()"></app-model-close-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="content">
        <div class="text-1">What do you want to do this with this document?</div>
        <div class="text-2" *ngIf="document">
            {{document?.documentTitle}}
        </div>


        <ion-button class="action-btn" (click)="viewAndSignOff()">
            View and Sign-Off
        </ion-button>

        <ion-button class="cancel-btn" fill="outline" (click)="viewOnly()">
            View Only
        </ion-button>
    </div>
</ion-content>
