<ion-header>
  <ion-toolbar mode="ios" class="model-header-toolbar">
    <ion-title size="large">{{headerTitle}}</ion-title>
    <ion-buttons slot="end">
      <app-model-close-button (closeModal)="onClose()"></app-model-close-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="content">
    <ion-icon src="./assets/icon/Checkout.svg"></ion-icon>

    <div class="title-1">{{title}}</div>
    <div class="text-1">{{subtitle}}</div>
  </div>

</ion-content>

<ion-footer mode="ios">
  <ion-button expand="full" class="action-btn" (click)="onContinue()">{{buttonTitle}}</ion-button>
</ion-footer>


