<ion-header>
    <app-dashboard-header-dm [title]="sharedDataService.getCurrentCheckedInEntityName()"></app-dashboard-header-dm>
    <app-topnavigations-btns-dm activeBtn="form"></app-topnavigations-btns-dm>
    <app-topnavigations-segments-dm [active]="listType"
                                    [options]="listTypes"
                                    [search]="searchQuery"
                                    (searching)="onSearch($event)"
                                    (searchbarShowHide)="searchbarShowHide($event)"
                                    (changed)="segmentChanged($event)"></app-topnavigations-segments-dm>
</ion-header>

<ion-content>
    <ion-list
            *ngIf="(listType === EnumService.DedicatedModeFormListType.Available && availableForms?.length>0) || (listType === EnumService.DedicatedModeFormListType.Archive && archivedForms?.length>0); else noDocument"
            class="activity-list"
            lines="full">


        <ng-container *ngIf="listType === EnumService.DedicatedModeFormListType.Available">
            <app-archived-item
                    *ngFor="let item of availableForms | listFilter:searchQuery:'formTitle';"
                    [icon]="item.documentFileIconURL"
                    (itemSelect)="openForm(item)"
                    [colFirst]="item.formTitle"
            ></app-archived-item>
        </ng-container>

        <ng-container *ngIf="listType === EnumService.DedicatedModeFormListType.Archive">
            <app-archived-item
                    *ngFor="let item of archivedForms | listFilter:searchQuery:'documentTitle';"
                    (itemSelect)="openArchivedForm(item)"
                    [icon]="item.documentFileIconURL"
                    [colFirst]="item.documentTitle"
                    colSecond="Signed by"
                    [colSecondHighlighted]="item.signedByName"
                    colThird="Signed"
                    [colThirdHighlighted]="item.formattedCreatedDate"
            ></app-archived-item>
        </ng-container>
    </ion-list>

    <ng-template #noDocument>
        <app-empty-message message="No forms available"></app-empty-message>
    </ng-template>


    <ng-container *ngIf="listType === EnumService.DedicatedModeFormListType.Available && availableForms?.length>0">

        <app-empty-message *ngIf="(availableForms | listFilter:searchQuery:'formTitle').length == 0"
                           message="No Results Found"></app-empty-message>
    </ng-container>

    <ng-container *ngIf="listType === EnumService.DedicatedModeFormListType.Archive && archivedForms?.length>0">
        <app-empty-message *ngIf="(archivedForms | listFilter:searchQuery:'documentTitle').length == 0"
                           message="No Results Found"></app-empty-message>
    </ng-container>
</ion-content>
