ion-content {
  ion-list {
    ion-list-header {
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 26px;
      display: flex;
      align-items: center;
      color: #171538;
      padding-left: 40px;
    }

    ion-item {
      --padding-top: 12px;
      --padding-bottom: 12px;
      --padding-start: 40px;
      --padding-end: 16px;
      --border-color: #E8EAF2;

      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      display: flex;
      align-items: center;
      color: #444444;
    }
  }
}
