<ion-header mode="ios" [ngClass]="{'dedicated-mode':sharedDataService.dedicatedMode}">
	<app-modal-header *ngIf="!sharedDataService.dedicatedMode" [modalTitle]="'PAGESPECIFIC_TEXT.CHECK_IN_AND_OUT.VISITOR_AGREEMENT' | translate" (closeModal)="onClose()"></app-modal-header>

	<app-modal-header-dm
		*ngIf="sharedDataService.dedicatedMode"
		[modalTitle]="sharedDataService.getCurrentCheckedInEntityName()"
		[modalSubTitle]="'PAGESPECIFIC_TEXT.CHECK_IN_AND_OUT.CHECK_IN' | translate"
		(closeModal)="onClose()"
	></app-modal-header-dm>

	<app-back-continue-toolbar
		*ngIf="sharedDataService.dedicatedMode"
		(back)="onBack()"
		title="'PAGESPECIFIC_TEXT.CHECK_IN_AND_OUT.VISITOR_AGREEMENT' | translate"
		hideRightBtn="true"
		(continue)="onContinue()"
	></app-back-continue-toolbar>
</ion-header>

<ion-content fullscreen [ngClass]="{'dedicated-mode':sharedDataService.dedicatedMode}">
	<div class="content-container">
		<div *ngIf="inductionItem.contentDetails" class="va-content" [innerHTML]="sanitizer.bypassSecurityTrustHtml(inductionItem.contentDetails)"></div>

		<div class="action-btn-container" *ngIf="sharedDataService.dedicatedMode">
			<ion-button expand="full" class="action-btn" (click)="onContinue()">{{'PAGESPECIFIC_TEXT.CHECK_IN_AND_OUT.I_AGREE' | translate}}</ion-button>
		</div>

		<div class="fill-vertical-space"></div>

		<ion-footer mode="ios" *ngIf="!sharedDataService.dedicatedMode">
			<ion-button expand="full" class="action-btn" (click)="onContinue()">{{'SHARED_TEXT.SHARED_TEXT' | translate}}</ion-button>
		</ion-footer>
	</div>
</ion-content>
