.continue-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 26px;

  .continue-button {
    width: 84.8%;
    height: 50px;
    background: #2A6FDB;
    color: #ffffff;
    border-radius: 3px;
    text-transform: none;

    button {
      background-color: transparent;
    }
  }
}
