<ion-header mode="ios">
    <app-modal-header modalTitle="Form Details" (closeModal)="onClose()"></app-modal-header>

    <ion-item lines="none">
        <ion-label>
            <h6>{{activitySignOffFormDetail?.formData?.formTitle}}</h6>

            <div class="form-text-row">
                <div class="title">Entity</div>
                <div class="value">{{entityName}}</div>
            </div>

            <div class="form-text-row">
                <div class="title">Form Type</div>
                <div class="value">{{activitySignOffFormDetail?.formData?.formType}}</div>
            </div>

        </ion-label>
    </ion-item>


</ion-header>

<ion-content class="ion-padding-horizontal" fullscreen="true">

    <!--    <ion-item lines="full" class="title-item">-->
    <!--        <ion-label>-->
    <!--            Please complete attached site audit form-->
    <!--        </ion-label>-->
    <!--    </ion-item>-->

    <ion-item lines="full" class="title-item">
        <ion-label class="ion-text-wrap">
            <ng-container>{{activitySignOffFormDetail?.formData?.formattedDescription}}</ng-container>

            <h6>Explanation</h6>
            <p>{{activitySignOffFormDetail?.formData?.formattedInstructions}}</p>
        </ion-label>
    </ion-item>

    <div class="ion-margin-top" *ngIf="activitySignOffFormDetail && activitySignOffFormDetail.formAttachments">
        <ion-item lines="none" class="form-item" (click)="openFile(attachmentItem)"
                  *ngFor="let attachmentItem of activitySignOffFormDetail.formAttachments">
            <ion-img slot="start" [src]="attachmentItem.documentFileIconURL"></ion-img>
            <ion-label>{{attachmentItem.documentFileName}}</ion-label>
        </ion-item>
    </div>

</ion-content>

<ion-footer mode="ios">
    <ion-button expand="full" class="action-btn" (click)="onContinue()">Launch the Form</ion-button>
</ion-footer>
