<ion-header mode="ios" *ngIf="signOffFormDetail">
    <app-modal-header
        [modalTitle]="'PAGESPECIFIC_TEXT.FORM_LIST.FORM_DETAILS' | translate"
        (closeModal)="onClose()"
    ></app-modal-header>

    <ion-item lines="none">
        <ion-label>
            <h6>{{signOffFormDetail?.formData?.formTitle}}</h6>

            <div
                class="form-text-row"
                *ngIf="sharedDataService.viewFormFor !== EnumService.ViewFormForType.Activity"
            >
                <div class="title">
                    {{'PAGESPECIFIC_TEXT.FORM_LIST.ENTITY' | translate}}
                </div>
                <div
                    class="value"
                    *ngFor="let entity of signOffFormDetail?.entityList"
                >
                    {{entity.locationName}}
                </div>
            </div>

            <div class="form-text-row">
                <div class="title">
                    {{'PAGESPECIFIC_TEXT.FORM_LIST.FORM_TYPE' | translate}}
                </div>
                <div
                    class="value"
                    *ngIf="signOffFormDetail?.formData?.formType === EnumService.FormTypes.CUSTOM"
                >
                    {{'PAGESPECIFIC_TEXT.FORM_LIST.FORM_TYPES.CUSTOM' |
                    translate}}
                </div>
                <div
                    class="value"
                    *ngIf="signOffFormDetail?.formData?.formType === EnumService.FormTypes.RISK_ASSESSMENT"
                >
                    {{'PAGESPECIFIC_TEXT.FORM_LIST.FORM_TYPES.RISK_ASSESSMENT' |
                    translate}}
                </div>
                <div
                    class="value"
                    *ngIf="signOffFormDetail?.formData?.formType === EnumService.FormTypes.WORK_PERMIT"
                >
                    {{'PAGESPECIFIC_TEXT.FORM_LIST.FORM_TYPES.WORK_PERMIT' |
                    translate}}
                </div>
                <div
                    class="value"
                    *ngIf="signOffFormDetail?.formData?.formType === EnumService.FormTypes.HAV"
                >
                    {{'PAGESPECIFIC_TEXT.FORM_LIST.FORM_TYPES.HAV' | translate}}
                </div>
                <div
                    class="value"
                    *ngIf="signOffFormDetail?.formData?.formType === EnumService.FormTypes.ACCIDENT_REPORT"
                >
                    {{'PAGESPECIFIC_TEXT.FORM_LIST.FORM_TYPES.ACCIDENT_REPORT' |
                    translate}}
                </div>
            </div>

            <div
                class="rejected-view"
                *ngIf="signOffFormDetail?.formData.isRejected"
            >
                <div class="detail">
                    <ion-icon
                        slot="start"
                        src="./assets/icon/rejected.svg"
                    ></ion-icon>
                    <ion-label class="rejected"
                        >{{'PAGESPECIFIC_TEXT.FORM_LIST.SIGNATURE_REJECTED' |
                        translate}}</ion-label
                    >
                </div>

                <p
                    class="time"
                    *ngIf="signOffFormDetail?.formData.formattedRejectedDate;"
                >
                    {{'PAGESPECIFIC_TEXT.FORM_LIST.BY' |
                    translate}}&nbsp;{{signOffFormDetail?.formData?.rejectedBy}}&nbsp;{{'PAGESPECIFIC_TEXT.FORM_LIST.ON'
                    |
                    translate}}&nbsp;{{signOffFormDetail?.formData.formattedRejectedDate}}
                </p>

                <div class="reject-reason">
                    <h3>
                        {{'PAGESPECIFIC_TEXT.FORM_LIST.REJECTION_REASON' |
                        translate}}
                    </h3>
                    <p>{{signOffFormDetail?.formData.rejectedReason}}</p>
                </div>
            </div>
        </ion-label>
    </ion-item>
</ion-header>

<ion-content
    [ngClass]="{'ion-padding-horizontal':!displaySavedStatesList}"
    fullscreen="true"
>
    <ng-container *ngIf="!displaySavedStatesList; else savedStatesList;">
        <div class="content-container" *ngIf="signOffFormDetail">
            <ion-item
                lines="full"
                class="title-item"
                *ngIf="signOffFormDetail?.formData?.formattedDescription || signOffFormDetail?.formData?.formattedInstructions"
            >
                <ion-label class="ion-text-wrap">
                    <p
                        *ngIf="signOffFormDetail?.formData?.formattedDescription"
                        [innerHTML]="sanitizer.bypassSecurityTrustHtml(signOffFormDetail?.formData?.formattedDescription)"
                    ></p>

                    <ng-container
                        *ngIf="signOffFormDetail?.formData?.formattedInstructions"
                    >
                        <h6>
                            {{'PAGESPECIFIC_TEXT.FORM_LIST.INSTRUCTIONS' |
                            translate}}
                        </h6>
                        <p
                            [innerHTML]="sanitizer.bypassSecurityTrustHtml(signOffFormDetail?.formData?.formattedInstructions)"
                        ></p>
                    </ng-container>
                </ion-label>
            </ion-item>

            <div
                class="ion-margin-top"
                *ngIf="signOffFormDetail && signOffFormDetail.formAttachments"
            >
                <ion-item
                    lines="none"
                    class="form-item"
                    (click)="openFile(attachmentItem)"
                    *ngFor="let attachmentItem of signOffFormDetail.formAttachments"
                >
                    <ion-img
                        slot="start"
                        [src]="sharedDataService.offlineMode?utilService.getOfflineFileUrl(attachmentItem.documentFileIconURL,'icon'):attachmentItem.documentFileIconURL"
                    ></ion-img>
                    <ion-label
                        >{{attachmentItem.documentTitle?attachmentItem.documentTitle:
                        attachmentItem.documentFileName}}</ion-label
                    >
                </ion-item>
            </div>

            <div class="fill-vertical-space"></div>

            <ion-footer mode="ios">
                <ng-container *ngIf="isFormStateEligible">
                    <div class="no-saved-states" *ngIf="!isSavedStates">
                        No saved states available
                    </div>

                    <ion-button
                        *ngIf="isSavedStates"
                        expand="full"
                        fill="clear"
                        class="saved-states-btn"
                        (click)="displaySavedStatesList = true"
                        >{{'PAGESPECIFIC_TEXT.FORM_LIST.SHOW_SAVED_STATES' |
                        translate}}</ion-button
                    >
                </ng-container>

                <ion-button
                    expand="full"
                    class="action-btn"
                    (click)="onContinue()"
                    >{{'PAGESPECIFIC_TEXT.FORM_LIST.LAUNCH_THE_FORM' |
                    translate}}</ion-button
                >
            </ion-footer>
        </div>
    </ng-container>
    <ng-template #savedStatesList>
        <div class="content-container">
            <div
                class="saved-state-item"
                *ngFor="let item of savedStates; let idx=index"
            >
                <div class="title-row">
                    <div class="title-text">
                        {{'PAGESPECIFIC_TEXT.FORM_LIST.SAVED_STATE'
                        |translate}}&nbsp;{{idx+1}}
                        <!-- {{item.formBuilderDetail.title}} -->
                    </div>

                    <ion-button
                        size="small"
                        fill="clear"
                        class="close-icon-btn"
                        (click)="removeState(item, idx)"
                    >
                        <ion-icon
                            class="close-icon"
                            slot="icon-only"
                            src="./assets/icon/ic_close.svg"
                        ></ion-icon>
                    </ion-button>
                </div>

                <div class="value-row">
                    <div class="value-part">
                        <div class="date-view">
                            <div class="label">
                                {{'PAGESPECIFIC_TEXT.FORM_LIST.START_DATE'
                                |translate}}:
                            </div>
                            <div class="formated-date">
                                {{ item.startSave | date:'dd MMM yyyy hh:mm a'
                                }}
                            </div>
                        </div>
                        <div class="date-view">
                            <div class="label">
                                {{'PAGESPECIFIC_TEXT.FORM_LIST.LAST_SAVE'
                                |translate}}:
                            </div>
                            <div class="formated-date">
                                {{item.lastSave| date:'dd MMM yyyy hh:mm a'}}
                            </div>
                        </div>
                    </div>

                    <div class="btn-part">
                        <ion-button
                            class="continue-btn"
                            fill="clear"
                            (click)="launchSavedForm(item,idx)"
                        >
                            {{'PAGESPECIFIC_TEXT.FORM_LIST.LAUNCH' | translate}}
                            <ion-icon
                                slot="end"
                                src="./assets/icon/continue-arrow.svg"
                            ></ion-icon>
                        </ion-button>
                    </div>
                </div>
            </div>

            <div class="fill-vertical-space"></div>

            <ion-footer mode="ios">
                <ion-button
                    *ngIf="displaySavedStatesList"
                    expand="full"
                    fill="clear"
                    class="saved-states-back-btn"
                    (click)="displaySavedStatesList=false"
                    >{{'SHARED_TEXT.GO_BACK' | translate}}</ion-button
                >
            </ion-footer>
        </div>
    </ng-template>
</ion-content>
