<ion-header mode="ios">
    <ion-toolbar mode="ios" class="part-1">

        <ion-title size="large">My Profile</ion-title>

        <ion-buttons slot="end">
            <ion-button size="small" fill="clear" (click)="scanQrCode()">
                <ion-icon class="scan-icon" slot="icon-only" src="./assets/icon/qrscan-dark.svg"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="content">

        <div class="fill-vertical-space"></div>

        <ion-img
                [src]="(profile&&profile.photo&&sharedDataService.globalDirectories)?(sharedDataService.globalDirectories.userDirectory+''+profile.photo):'./assets/images/ProfileNone.png'"
                class="profile-img"></ion-img>
        <h3 *ngIf="profile">{{profile.userFullName}}</h3>

        <ion-img *ngIf="profile&&profile.qrCodeImage;"
                 [src]="'data:image/jpeg;base64,'+ profile.qrCodeImage"
                 class="qr-code"></ion-img>

        <ion-button fill="clear" routerLink="/tabs/my-profile/my-profile-details">View / Update Settings</ion-button>
        <ion-button fill="clear" routerLink="/tabs/my-profile/my-profile-documents">View My Signed Documents
        </ion-button>

        <div class="fill-vertical-space"></div>

    </div>

</ion-content>
