$paddingHorizontal: 23px;

ion-content {
  &.dedicated-mode {
    --background: #F6F9FB;

    app-exposure::ng-deep .exposure{
      background-color: #ffffff;
      flex-direction: row;
      padding: 10px 20px;
      border-radius: 12px;

      ion-label {
        flex: 1;
        text-align: left;
      }

      &.top {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
      }

      &.bottom {
        background-color: #F6F9FB;
        border-radius: 0;
        margin: 12px 1px 0;
      }

      .points {
        margin: 8px;
      }
    }

    ion-list {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 12px;
    }

    .text-bottom-msg {
      box-shadow: 0px 0 20px rgba(0, 0, 0, 0.3);

      margin-top: 40px;
      color: #171538;
      padding: 0 16px;
      background-color: #ffffff;

      ion-label {
        padding: 16px 0;
      }

      .action-btn {
        width: 200px;
        margin: 0;
        margin-left: 16px;
      }
    }
  }

  .hr-line-full {
    width: 100%;
    height: 1px;
    background-color: rgba(74, 144, 226, 0.2);
  }

  app-exposure::ng-deep {
    .points {
      &.total {
        background: #E74731;
        font-family: SF Pro Display;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  .text-bottom-msg {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #171538;
    padding: 16px 32px;
  }

  .action-btn {
    width: 100%;
    margin: 0;
    --border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
  }

  app-number-integer-field::ng-deep {
    .input-item {
      ion-input {
        width: 160px;
      }
    }
  }
}
