<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005975349422-sjgii7dtgdukufl3abo27cqmie4devdv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005975349422-sjgii7dtgdukufl3abo27cqmie4devdv</string>
	<key>API_KEY</key>
	<string>AIzaSyCjQnZxcZV3wt4ESJrgzLXdmWaZrXdDyTc</string>
	<key>GCM_SENDER_ID</key>
	<string>1005975349422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.be-safetechnologies.compliancegenie</string>
	<key>PROJECT_ID</key>
	<string>compliance-genie</string>
	<key>STORAGE_BUCKET</key>
	<string>compliance-genie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005975349422:ios:bcc4f5093114681b65a53f</string>
</dict>
</plist>